.clear
<!-- BEGIN footer -->
footer.footer.c-hidden
	.footer__contacts
		.footer__tel
			span.sprite.a10
			span= "+7 (495) 662-58-95"
		.footer__mail
			a(href="" title="")= "sales@alcodream.ru"
		.social
			a.social__item.social__item--vk(href="" title="")
				.sprite.a11
			a.social__item.social__item--fb(href="" title="")
				.sprite.a15
		a.bordered-link(href="" title="")= "Полная версия"
	.footer__bottom
		|2016
		|©
		|Alcodream.ru- Магазин элитного алкоголя 
.preloader.c-preloader

<!-- BEGIN popup-->
#popup
	.header__bottom
		.header__links
			a.header__item(href="" title="")
				span.sprite.a2
			a.header__item(href="" title="")
				span.sprite.a3
				span.header__cart
					|20
			a.header__item.c-tel(href="" title="")
				span.sprite.a6
			a.header__menu.header__menu--close.c-popup-close
				span.header__menu-icon.sprite.a14
		.header__time.c-hidden-tel
			|+7 (495) 662-58-95
			.working-hours
				|10:00 - 20:00		
	nav.navigation
		.navigation__levels.c-popup-levels
		
			.navigation__level1				
				.navigation__link.navigation__link--main
					a.navigation__link-menu(href="" title="")= "Виски"
					span.navigation__open-icon.c-popup-level1(data-type="popup-whiskey")
						span.sprite.a7
				
				.navigation__link.navigation__link--main
					a.navigation__link-menu(href="" title="")= "Коньяк"
					span.navigation__open-icon.c-popup-level1(data-type="popup-cognac")
						span.sprite.a7
					
				.navigation__link.navigation__link--main
					a.navigation__link-menu(href="" title="")= "Шампаское"
					span.navigation__open-icon.c-popup-level1(data-type="popup-champagne")
						span.sprite.a7
					
				.navigation__link.navigation__link--main
					a.navigation__link-menu(href="" title="")= "Вино"
					span.navigation__open-icon.c-popup-level1(data-type="popup-wine")
						span.sprite.a7
					
				.navigation__link.navigation__link--main
					a.navigation__link-menu(href="" title="")= "Крепкие напитки"
					span.navigation__open-icon.c-popup-level1(data-type="popup-strong")
						span.sprite.a7
					
				.navigation__link.navigation__link--main
					a.navigation__link-menu(href="" title="")= "Другие напитки"
					span.navigation__open-icon.c-popup-level1(data-type="popup-other")
						span.sprite.a7
					
				.navigation__link.navigation__link--main
					a.navigation__link-menu(href="" title="")= "Аксессуары"
					span.navigation__open-icon.c-popup-level1(data-type="popup-accessories")
						span.sprite.a7
					
			.navigation__level2.c-popup-bl-level2
				.navigation__link.navigation__link--back.c-popup-to-level1
					span.navigation__back.sprite.a13
					span.navigation__back.sprite.a13
					span.navigation__back-text= "Назад"
					
				#popup-whiskey.hidden-block.c-popup-hidden-menu
					.navigation__link.navigation__link--main.active
						|Виски
					.navigation__link.navigation__link--main.c-popup-level2(data-type="popup-whiskey-brands")
						|Бренды
						span.navigation__open-icon
							span.sprite.a7
						
					.navigation__link.navigation__link--main.c-popup-level2(data-type="popup-whiskey-excerpt")
						|Выдержка
						span.navigation__open-icon
							span.sprite.a7
						
					.navigation__link.navigation__link--main.c-popup-level2(data-type="popup-whiskey-region")
						|Регион
						span.navigation__open-icon
							span.sprite.a7
						
					.navigation__link.navigation__link--main.c-popup-level2(data-type="popup-whiskey-type")
						|Тип
						span.navigation__open-icon
							span.sprite.a7
						
					.navigation__link.navigation__link--main.c-popup-level2(data-type="popup-whiskey-price")
						|Цена
						span.navigation__open-icon.
							span.sprite.a7
				
				#popup-cognac.hidden-block.c-popup-hidden-menu
					.navigation__link.navigation__link--main.active
						|Коньяк
					.navigation__link.navigation__link--main.c-popup-level2(data-type="popup-cognac-brands")
						|Бренды
						span.navigation__open-icon
							span.sprite.a7
						
					.navigation__link.navigation__link--main.c-popup-level2
						|Выдержка
						span.navigation__open-icon
							span.sprite.a7
						
					.navigation__link.navigation__link--main.c-popup-level2
						|Регион
						span.navigation__open-icon
							span.sprite.a7
				
				#popup-champagne.hidden-block.c-popup-hidden-menu
					.navigation__link.navigation__link--main.active
						|Шампанское
					.navigation__link.navigation__link--main.c-level2
						|Бренды
						span.navigation__open-icon
							span.sprite.a7
				
				#popup-wine.hidden-block.c-popup-hidden-menu
					.navigation__link.navigation__link--main.active
						|Вино
					.navigation__link.navigation__link--main.c-popup-level2
						|Бренды
						span.navigation__open-icon
							span.sprite.a7
				
				#popup-strong.hidden-block.c-popup-hidden-menu
					.navigation__link.navigation__link--main.active
						|Крепкие напитки
					.navigation__link.navigation__link--main.c-popup-level2
						|Бренды
						span.navigation__open-icon
							span.sprite.a7
				
				#popup-other.hidden-block.c-popup-hidden-menu
					.navigation__link.navigation__link--main.active
						|Другие напитки
					.navigation__link.navigation__link--main.c-popup-level2
						|Бренды
						span.navigation__open-icon
							span.sprite.a7
						
				#popup-accessories.hidden-block.c-popup-hidden-menu
					.navigation__link.navigation__link--main.active
						|Аксессуары
							
					
			.navigation__level3.c-popup-bl-level3
				.navigation__link.navigation__link--back.c-popup-to-level2
					span.navigation__back.sprite.a13
					span.navigation__back.sprite.a13
					span.navigation__back-text= "Назад"
					
				#popup-whiskey-brands.hidden-block.c-popup-hidden-menu-l3
						.navigation__link.navigation__link--main.active
							|Бренды
						a.navigation__link.navigation__link--small(href="" title="")= "Бренд1"
						a.navigation__link.navigation__link--small(href="" title="")= "Бренд2"
						a.navigation__link.navigation__link--small(href="" title="")= "Бренд3"
						a.navigation__link.navigation__link--small(href="" title="")= "Бренд4"

				#popup-whiskey-excerpt.hidden-block.c-popup-hidden-menu-l3
						.navigation__link.navigation__link--main.active
							|Выдержка
						a.navigation__link.navigation__link--small(href="" title="")= "Выдержка1"
						a.navigation__link.navigation__link--small(href="" title="")= "Выдержка2"
						a.navigation__link.navigation__link--small(href="" title="")= "Выдержка3"
						a.navigation__link.navigation__link--small(href="" title="")= "Выдержка4"		
				
				#popup-whiskey-region.hidden-block.c-popup-hidden-menu-l3
						.navigation__link.navigation__link--main.active
							|Регион
						a.navigation__link.navigation__link--small(href="" title="")= "1"
						a.navigation__link.navigation__link--small(href="" title="")= "2"
						a.navigation__link.navigation__link--small(href="" title="")= "3"
						
				#popup-whiskey-type.hidden-block.c-popup-hidden-menu-l3
						.navigation__link.navigation__link--main.active
							|Тип
						a.navigation__link.navigation__link--small(href="" title="")= "Тип1"
						a.navigation__link.navigation__link--small(href="" title="")= "Тип2"
						a.navigation__link.navigation__link--small(href="" title="")= "Тип3"
				
				#popup-whiskey-price.hidden-block.c-popup-hidden-menu-l3
						.navigation__link.navigation__link--main.active
							|Цена
						a.navigation__link.navigation__link--small(href="" title="")= "Тип1"
						a.navigation__link.navigation__link--small(href="" title="")= "Тип2"
						a.navigation__link.navigation__link--small(href="" title="")= "Тип3"		
										
				#popup-cognac-brands.hidden-block.c-popup-hidden-menu-l3
						.navigation__link.navigation__link--main.active
							|Бренды
						a.navigation__link.navigation__link--small(href="" title="")= "Бренд1"
						a.navigation__link.navigation__link--small(href="" title="")= "Бренд2"
						a.navigation__link.navigation__link--small(href="" title="")= "Бренд3"
						a.navigation__link.navigation__link--small(href="" title="")= "Бренд4"	
		a.navigation__link(href="" title="")= "Акции"
		a.navigation__link(href="" title="")= "О магазине"
		a.navigation__link(href="" title="")= "Условия работы"
		a.navigation__link(href="" title="")= "Контакты"
		

<!-- END popup-->


script(src="./js/plugins.js")
script(src="./js/script.js")
script(src="./js/catalog.js")