<!-- BEGIN header -->
header.header.clearfix
	.container
		.header__top
			a.header__logo.sprite.a1(href="" title="")
			span.header__tel.sprite.a6.c-tel
			a.header__menu.c-popup-open(href="" title="")
				span.header__menu-icon.sprite.a5		
		.header__bottom
			.header__links
				a.header__item(href="" title="")
					span.sprite.a2
				a.header__item(href="" title="")
					span.sprite.a3
					span.header__cart
						|20
				a.header__item.c-search(href="" title="")
					span.sprite.a4
			.header__time.c-hidden-tel
				|+7 (495) 662-58-95
				.working-hours
					|10:00 - 20:00
		.header__search.c-hidden-search
			form(method="" action="")
				input.input(type="text" placeholder="Например: Сутил")
<!-- END header -->
