<div class="tabs c-tabs tabs--wide">
	<div class="tabs__head clearfix c-fixed"><a href="" title="" class="tabs__link left c-tabs-link c-filter-catalog"><span class="filter-text">Фильтр</span><span class="filter-icon right sprite a16"></span></a>
	  <div href="" title="" class="tabs__link left c-tabs-link"><span class="sort-text">Сортировка</span><span class="sort-icon right sprite a17"></span></div>
	</div>
	<div class="tabs__content">
	  <div class="tabs__item filter c-tabs-content">
		<form id="filter-orders" method="" action="ajax/orders.html" class="form form--reg">
		  <div class="form__element clearfix">
			<label class="form__label form__label--block">Дата</label>
			<input type="" name="" class="c-inputdate form__input form__input--small left">
			<input type="" name="" class="c-inputdate form__input form__input--small right">
		  </div>
		  <div class="form__element">
			<label class="form__label form__label--block">Статус заказа</label>
			<select class="c-select">
			  <option>Все</option>
			  <option>Принят</option>
			  <option>Отменен</option>
			  <option>Завершен</option>
			</select>
		  </div>
		  <div class="form__element">
			<label class="form__label form__label--block">Сумма</label>
			<div class="clearfix">
			  <input id="minPrice" type="text" class="filter__input c-minPrice left">
			  <hr class="filter__input-del left">
			  <input id="maxPrice" type="text" class="filter__input c-maxPrice right">
			</div>
			<div id="price-slider" data-min="0" data-max="1000" data-min-limit="0.00" data-max-limit="1000" class="range">												</div>
		  </div>
		  <div class="form__element form__element--center form__element--btn clearfix c-fixed">
			<input type="submit" value="Применить" class="filter__btn left">
			<input type="reset" value="Очистить" class="filter__btn filter__btn--grey right">
		  </div>
		</form>
	  </div>
	  <div class="tabs__item c-tabs-content">
		<form method="" action="" class="form form--sort">
		  <label class="form__label">Сортировать</label>
		  <button type="button" class="btn-sort right c-sort-btn"></button>
		  <select class="c-select">
			<option>Номеру</option>
			<option>Сумме</option>
		  </select>
		</form>
	  </div>
	</div>
 </div>
  <div class="order order__wpap c-hidden">
	<div class="order__item open c-order">
	  <div class="order__infoblock order__infoblock--top"><a href="" title="" class="order__add-link sprite a46"></a>
		<div class="order__title">ЗАКАЗ № 11 ОТ 22 Мая 2016</div>
		<div class="order__description">4 товара на сумму 11 692 <i class="rubl">a</i></div>
	  </div>
	  <div class="order__infoblock order__status">Статус: Принят, ожидается оплата</div>
	  <div class="order__infoblock"><a href="" title="" class="order__icon-open active c-order-link"></a><span class="order__price">3 609  <i class="rubl">a</i></span><span class="order__count">(3 товара)</span>
		<div class="order__info">
		  <input tupe="button" value="Отменить" class="input-btn">
		  <div class="order__element">
			<div class="order__element-title">07-006<br>Андре Галлуа Брют</div>
			<div class="order__element-count">1 шт</div>
			<div class="order__element-price">2 221 <i class="rubl">a</i></div>
		  </div>
		  <div class="order__element">
			<div class="order__element-title">07-006<br>Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа БрютАндре Галлуа БрютАндре Галлуа Брют</div>
			<div class="order__element-count">100 шт</div>
			<div class="order__element-price">1 000 609 <i class="rubl">a</i></div>
		  </div>
		  <div class="order__element">
			<div class="order__element-title">07-006<br>Андре Галлуа Брют</div>
			<div class="order__element-count">1 шт</div>
			<div class="order__element-price">2 221 <i class="rubl">a</i></div>
		  </div>
		  <div class="order__info-text">Способ оплаты: Наличные<br>Способ доставки: Самовывоз</div>
		</div>
	  </div>
	</div>
	<div class="order__item c-order">
	  <div class="order__infoblock order__infoblock--top"><a href="" title="" class="order__add-link sprite a46"></a>
		<div class="order__title">ЗАКАЗ № 12 ОТ 22 Мая 2016</div>
		<div class="order__description">4 товара на сумму 11 692 <i class="rubl">a</i></div>
	  </div>
	  <div class="order__infoblock order__status">Статус: Завершен</div>
	  <div class="order__infoblock"><a href="" title="" class="order__icon-open c-order-link"></a><span class="order__price">3 609  <i class="rubl">a</i></span><span class="order__count">(3 товара)</span>
		<div class="order__info">
		  <!--input.input-btn(tupe="button" value="Отменить")										-->
		  <div class="order__element">
			<div class="order__element-title">07-006<br>Андре Галлуа Брют</div>
			<div class="order__element-count">1 шт</div>
			<div class="order__element-price">2 221 <i class="rubl">a</i></div>
		  </div>
		  <div class="order__info-text">Способ оплаты: Наличные<br>Способ доставки: Самовывоз</div>
		</div>
	  </div>
	</div>	
  </div>