<div class="tabs c-tabs">
            <div class="tabs__head clearfix c-fixed"><a href="" title="" class="tabs__link left c-tabs-link c-filter-catalog"><span class="filter-text">Фильтр</span><span class="filter-icon right sprite a16"></span></a>
              <div href="" title="" class="tabs__link left c-tabs-link"><span class="sort-text">Сортировка</span><span class="sort-icon right sprite a17"></span></div>
            </div>
            <div class="tabs__content">
              <div class="tabs__item filter c-tabs-content c-filter-wrapper">
                <div class="filter__category clearfix c-fixed"><a href="#brands" title="" class="filter__category-item filter__category-item--pad1 c-category"><span class="sprite a33"></span></a><a href="#cat1" title="" class="filter__category-item filter__category-item--pad2 c-category"><span class="sprite a34"></span></a><a href="#price" title="" class="filter__category-item left c-category"><span class="round"><i class="rubl">a</i></span></a><a href="#amount" title="" class="filter__category-item filter__category-item--pad1 c-category"><span class="sprite a35"></span></a><a href="#region" title="" class="filter__category-item filter__category-item--pad3 c-category"><span class="sprite a39"></span></a><a href="#cat2" title="" class="filter__category-item filter__category-item--pad2 c-category"><span class="sprite a36"></span></a><a href="#cat3" title="" class="filter__category-item filter__category-item--pad2 c-category"><span class="sprite a37"></span></a></div>
                <form id="filter-catalog" method="" action="ajax/catalog.html" data-url="ajax/filter.html" class="form form--filter c-filter">
                  <div class="accordion c-accordion">
                    <div class="accordion__item"><a href="" title="" name="brands" class="accordion__link c-accordion-link">Бренды
                        <div class="accordion__icon right sprite a38"></div></a>
                      <div data-filter-name="iblock_brands_id" class="accordion__dropdown clearfix c-accordion-drop c-filter-block c-filter-section">
                        <ul>                          
                          <li class="filter__element level-1">
                            <input id="brands5" type="checkbox" value="brands5" name="brands" class="check__input check__filter-field">
                            <label for="brands5" class="check__label">Ардбег</label>
                          </li>
                          <li class="filter__element level-1 hidden c-filter-hidden">
                            <input id="brands6" type="checkbox" value="brands6" name="brands" class="check__input check__filter-field">
                            <label for="brands6" class="check__label">Скрытый 1</label>
                          </li>
                          <li class="filter__element level-1 hidden c-filter-hidden">
                            <input id="brands7" type="checkbox" value="brands7" name="brands" class="check__input check__filter-field">
                            <label for="brands7" class="check__label">Скрытый 2</label>
                          </li>
                          <li class="filter__element"><a href="" title="" class="filter__add-link c-filter-add"><span class="plus">+</span><span class="minus">-</span>Ещё</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion__item"><a href="" title="" name="price" class="accordion__link c-accordion-link">Цена
                        <div class="accordion__icon right sprite a38"></div></a>
                      <div data-filter-name="iblock_price_id" class="accordion__dropdown accordion__dropdown--price clearfix c-accordion-drop c-filter-block c-filter-section">
                        <ul>
                          <li class="filter__element level-1">
                            <input id="price1" type="checkbox" value="price1" name="price" data-from="0" data-to="100000" class="check__input check__filter-range">
                            <label for="price1" class="check__label">Любая цена</label>
                          </li>
                          <li class="filter__element level-1">
                            <input id="price2" type="checkbox" value="price2" name="price" data-from="0" data-to="1000" class="check__input check__filter-range">
                            <label for="price2" class="check__label">до 7000</label>
                          </li>
                        </ul>
                        <div class="filter__input-wrap clearfix">
                          <input id="minPrice" type="text" class="filter__input c-minPrice left">
                          <hr class="filter__input-del left">
                          <input id="maxPrice" type="text" class="filter__input c-maxPrice right">
                        </div>
                        <div id="price-slider" data-min="0" data-max="1000" data-min-limit="0.00" data-max-limit="1000" class="range"></div>
                      </div>
                    </div>
                    <div class="accordion__item"><a href="" title="" name="region" class="accordion__link c-accordion-link">Регион
                        <div class="accordion__icon right sprite a38"></div></a>
                      <div data-filter-name="iblock_region_id" class="accordion__dropdown clearfix c-accordion-drop c-filter-block c-filter-section">
                        <ul>
                          <li class="filter__element level-1"><a href="" title="" data-expand-id="" class="filter__sub-expand">[+]</a>
                            <input id="region3" type="checkbox" value="region3" name="region" class="check__input check__filter-field check__filter-field-parent">
                            <label for="region3" class="check__label">США</label>
                            <ul>												
                              <li class="filter__element level-2 hidden">
                                <input id="region6" type="checkbox" value="region6" name="region" class="check__input check__filter-field">
                                <label for="region6" class="check__label">Кентуки</label>
                              </li>                              
                            </ul>
                          </li>                          
                          <li class="filter__element level-1 hidden c-filter-hidden">
                            <input id="region5" type="checkbox" value="region5" name="region5" class="check__input check__filter-field">
                            <label for="region5" class="check__label">Скрытый регион</label>
                          </li>
                          <li class="filter__element"><a href="" title="" class="filter__add-link c-filter-add"><span class="plus">+</span><span class="minus">-</span>Ещё</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion__item"><a href="" title="" name="amount" class="accordion__link c-accordion-link">Объём
                        <div class="accordion__icon right sprite a38"></div></a>
                      <div data-filter-name="iblock_amount_id" class="accordion__dropdown clearfix c-accordion-drop c-filter-block c-filter-section">
                        <ul>
                          <li class="filter__element level-1">
                            <input id="amount1" type="checkbox" value="amount1" name="amount" class="check__input check__filter-field check__filter-any-field">
                            <label for="amount1" class="check__label">Любой объём</label>
                          </li>
                          <li class="filter__element level-1">
                            <input id="amount2" type="checkbox" value="amount2" name="amount" class="check__input check__filter-field">
                            <label for="amount2" class="check__label">1</label>
                          </li>
                          <li class="filter__element level-1">
                            <input id="amount3" type="checkbox" value="amount3" name="amount" class="check__input check__filter-field">
                            <label for="amount3" class="check__label">4.5</label>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="accordion__item"><a href="" title="" class="accordion__link c-accordion-link">Выдержка
                        <div class="accordion__icon right sprite a38"></div></a>
                      <div data-filter-name="iblock_excerpt_id" class="accordion__dropdown clearfix c-accordion-drop c-filter-block c-filter-section"></div>
                    </div>
                  </div>
                  <div data-filter-name="iblock_packaging_id" class="filter__min-block filter__min-block--left c-filter-section">
                    <div class="check__wrap">
                      <input id="yes" type="checkbox" value="yes" name="packaging" class="check__input check__filter-field">
                      <label for="yes" class="check__label check__label--square">Подарочная упаковка</label>
                    </div>
                  </div>
                  <div data-filter-name="iblock_shop_id" class="filter__min-block filter__min-block--right c-filter-section">
                    <div class="check__wrap">
                      <input id="y" type="checkbox" value="y" name="shop" class="check__input check__filter-field">
                      <label for="y" class="check__label check__label--square">В магазине</label>
                    </div>
                  </div>
                  <div class="filter__btn-wrap c-fixed">
                    <input type="submit" value="Применить" class="filter__btn">
                    <input type="reset" value="Очистить" class="filter__btn filter__btn--grey">
                  </div>
                </form>
              </div>
              <div class="tabs__item c-tabs-content">
                <form method="" action="" class="form form--sort">
                  <label class="form__label">Сортировать</label>
                  <button type="button" class="btn-sort right c-sort-btn"></button>
                  <select class="c-select">
                    <option>Цена</option>
                    <option>Страна</option>
                    <option>Бренд</option>
                  </select>
                </form>
              </div>
            </div>
          </div>
          <ul class="product_list product_list--catalog c-hidden">
            <li>
              <div class="product-item product-item--wide">
                <div class="product-item__info clearfix">
                  <div class="product-item__img left"><img src="images/content/img1.jpg" alt=""></div>
                  <div class="product-item__descr left">
                    <div class="product-item__vendor-code">05-983</div>
                    <div class="product-item__title c-limited-text">Agricola San Felice Brunello di Montalcino Riserva DOCG Il Quercione Campogiovanni 2006</div>
                    <div class="product-item__price">1 000 609 <i class="rubl">a</i>
                      <div class="product-item__price-sale"><span>3700 <i class="rubl">a</i></span></div>
                    </div><a href="" title="" class="input-btn added">В корзине</a>
                  </div>
                </div>
              </div>
            </li>      
			<span class="input-btn input-btn--big">Показать еще</span>
          </ul>
        </div>