@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI.woff') format('woff'), url('../fonts/SegoeUI.ttf') format('truetype'), url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubl';
  src: url('../fonts/rouble-webfont.eot');
  src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rouble-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.sprite {
  background: url('../images/sprite.png') no-repeat top left;
  display: inline-block;
}
.sprite.a1 {
  background-position: 0px 0px;
  width: 179px;
  height: 26px;
}
.sprite.a2 {
  background-position: -189px 0px;
  width: 18px;
  height: 21px;
}
.sprite.a3 {
  background-position: -217px 0px;
  width: 21px;
  height: 21px;
}
.sprite.a4 {
  background-position: -248px 0px;
  width: 20px;
  height: 20px;
}
.sprite.a5 {
  background-position: -278px 0px;
  width: 24px;
  height: 20px;
}
.sprite.a6 {
  background-position: -312px 0px;
  width: 19px;
  height: 22px;
}
.sprite.a7 {
  background-position: -341px 0px;
  width: 13px;
  height: 22px;
}
.sprite.a8 {
  background-position: -364px 0px;
  width: 21px;
  height: 34px;
}
.sprite.a9 {
  background-position: -395px 0px;
  width: 20px;
  height: 34px;
}
.sprite.a10 {
  background-position: -425px 0px;
  width: 10px;
  height: 18px;
}
.sprite.a11 {
  background-position: -445px 0px;
  width: 22px;
  height: 22px;
}
.sprite.a12 {
  background-position: -477px 0px;
  width: 26px;
  height: 26px;
}
.sprite.a13 {
  background-position: -513px 0px;
  width: 8px;
  height: 11px;
}
.sprite.a14 {
  background-position: -531px 0px;
  width: 22px;
  height: 22px;
}
.sprite.a15 {
  background-position: -563px 0px;
  width: 12px;
  height: 26px;
  top: 2px;
  position: relative;
}
.sprite.a16 {
  background-position: -585px 0px;
  width: 16px;
  height: 17px;
}
.sprite.a17 {
  background-position: -611px 0px;
  width: 17px;
  height: 16px;
}
.sprite.a18 {
  background-position: -638px 0px;
  width: 18px;
  height: 10px;
}
.sprite.a19 {
  background-position: -666px 0px;
  width: 10px;
  height: 6px;
}
.sprite.a20 {
  background-position: -686px 0px;
  width: 10px;
  height: 6px;
}
.sprite.a21 {
  background-position: -706px 0px;
  width: 9px;
  height: 20px;
}
.sprite.a22 {
  background-position: -725px 0px;
  width: 20px;
  height: 20px;
}
.sprite.a23 {
  background-position: -755px 0px;
  width: 20px;
  height: 16px;
}
.sprite.a24 {
  background-position: -785px 0px;
  width: 24px;
  height: 24px;
}
.sprite.a25 {
  background-position: -819px 0px;
  width: 27px;
  height: 32px;
}
.sprite.a26 {
  background-position: -856px 0px;
  width: 27px;
  height: 32px;
}
.sprite.a27 {
  background-position: -893px 0px;
  width: 16px;
  height: 14px;
}
.sprite.a28 {
  background-position: -919px 0px;
  width: 17px;
  height: 16px;
}
.sprite.a29 {
  background-position: -946px 0px;
  width: 17px;
  height: 4px;
}
.sprite.a30 {
  background-position: -973px 0px;
  width: 23px;
  height: 25px;
}
.sprite.a31 {
  background-position: -1006px 0px;
  width: 27px;
  height: 26px;
}
.sprite.a32 {
  background-position: -1043px 0px;
  width: 18px;
  height: 14px;
}
.sprite.a33 {
  background-position: -1071px 0px;
  width: 29px;
  height: 24px;
}
.sprite.a34 {
  background-position: -1110px 0px;
  width: 12px;
  height: 29px;
}
.sprite.a35 {
  background-position: -1132px 0px;
  width: 25px;
  height: 25px;
}
.sprite.a36 {
  background-position: -1167px 0px;
  width: 20px;
  height: 26px;
}
.sprite.a37 {
  background-position: -1197px 0px;
  width: 21px;
  height: 26px;
}
.sprite.a38 {
  background-position: -1228px 0px;
  width: 19px;
  height: 11px;
}
.sprite.a39 {
  background-position: -1257px 0px;
  width: 23px;
  height: 29px;
}
.sprite.a40 {
  background-position: -1290px 0px;
  width: 14px;
  height: 23px;
}
.sprite.a42 {
  background-position: -1314px 0px;
  width: 27px;
  height: 25px;
}
.sprite.a43 {
  background-position: -1351px 0px;
  width: 18px;
  height: 28px;
}
.sprite.a41 {
  background-position: -1379px 0px;
  width: 31px;
  height: 32px;
}
.sprite.a44 {
  background-position: -1420px 0px;
  width: 31px;
  height: 25px;
}
.sprite.a45 {
  background-position: -1461px 0px;
  width: 21px;
  height: 27px;
}
.sprite.a46 {
  background-position: -1492px 0px;
  width: 21px;
  height: 26px;
}
html,
body {
  height: 100%;
  min-width: 320px;
  padding: 0;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pagewrap {
  min-height: 100%;
  /*padding-bottom: calc( @footer-height + 60px );
	margin-bottom: -@footer-height;*/
  background: #fff;
}
.container {
  width: 100%;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
}
.header__top {
  border-bottom: 1px solid #f4f4f4;
}
.header__logo,
.header__menu-icon,
.header__item {
  display: inline-block;
}
.header__tel {
  float: right;
  margin: 16px 72px 13px 12px;
}
.header__logo {
  width: 179px;
  height: 26px;
  margin: 13px 0 13px 12px;
  cursor: pointer;
}
.header__menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 59px;
  height: 56px;
  background-color: #a80204;
  text-align: center;
  line-height: 65px;
}
.header__menu--close {
  background-color: #263238;
}
.header__menu-icon {
  width: 24px;
  height: 20px;
}
.header__links,
.header__time,
.header__bottom {
  vertical-align: top;
  height: 53px;
}
.header__bottom {
  position: relative;
  border-bottom: 1px solid #f4f4f4;
}
.header__item {
  display: block;
  float: left;
  width: 32.69%;
  height: 100%;
  max-height: 53px;
  border-right: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: 'SegoeUI';
  font-size: 12px;
  font-weight: 400;
}
.header__item:last-child {
  border-right: none;
}
.header__cart {
  display: inline-block;
  min-width: 21px;
  height: 21px;
  padding: 0 2px;
  margin-left: 6px;
  background-color: #263238;
  border-radius: 100%;
  text-align: center;
  line-height: 21px;
  color: #fff;
  top: -6px;
  position: relative;
}
.header__time {
  text-align: center;
  color: #263238;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px 0;
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.header__time.active {
  display: block;
}
.header__search {
  padding: 12px 14px 10px;
  border-bottom: 1px solid #f4f4f4;
  display: none;
}
.header__search.active {
  display: block;
}
.header .working-hours {
  margin-top: 5px;
  font-size: 12px;
}
.footer {
  background-color: #263238;
  padding: 16px 0;
  color: #fff;
  font-family: 'Arial', 'Helvetica', sans-serif;
  text-align: center;
}
.footer a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 8px 0 15px;
}
.footer__contacts {
  margin-bottom: 14px;
  border-bottom: 1px solid #4f585d;
}
.footer__tel {
  font-size: 20px;
  text-transform: uppercase;
}
.footer__mail,
.footer__bottom {
  font-size: 13px;
}
.footer .social__item {
  margin: 0 11px 2px 0;
}
.footer .sprite.a10 {
  margin-right: 8px;
}
.content {
  padding-top: 110px;
  font-family: 'OpenSans';
}
.breadcrumbs {
  font-size: 12px;
  font-family: 'Arial', 'Helvetica', sans-serif;
  padding: 15px 8px 15px 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.breadcrumbs__item {
  display: inline;
  color: #a80204;
}
.breadcrumbs__link {
  color: #263238;
}
.breadcrumbs__delimiter {
  color: #333;
  margin: 0 2px 0 4px;
}
.heading-big {
  margin: 0;
  width: 100%;
  color: #5b0304;
  font-family: 'OpenSans';
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.heading-big__subtitle {
  color: #999898;
  font-size: 15px;
  font-weight: 400;
}
.heading-big--marg {
  margin: 20px 0;
}
.heading-big--marg1 {
  margin: 20px 0 0;
}
.heading-big--detail {
  font-size: 18px;
  margin-bottom: 40px;
}
.heading-big--detail .heading-big__subtitle {
  font-size: 12px;
  margin-top: 22px;
  padding: 0 20px;
}
a.bordered-link {
  text-decoration: underline;
}
.tabs {
  background-color: #f6f3f9;
  margin: 20px 0 0;
}
.tabs__head {
  padding: 11px;
}
.tabs__head.fixed {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 110px;
  background: #fff;
}
.tabs__item {
  display: none;
  padding: 5px 11px 20px;
}
.tabs__item.active {
  display: block;
}
.tabs__link {
  width: 47.9%;
  height: 30px;
  background-color: #263238;
  margin-right: 1.6%;
  color: #fff;
  font-family: 'OpenSans';
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
}
.tabs__link:last-child {
  margin-right: 0;
  margin-left: 1.6%;
}
.tabs__link.active {
  background-color: #a80204;
}
.tabs.filter-catalog {
  background: #fff;
}
.tabs.filter-catalog .tabs__item {
  padding-bottom: 0;
}
.tabs--simple {
  background: #fff;
  padding: 0 10px;
}
.tabs--simple .tabs__head {
  padding: 0;
}
.tabs--simple .tabs__link {
  width: 49.5%;
  background-color: #3c474c;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
.tabs--simple .tabs__link.active {
  background: #fff;
  border: 1px solid #bebebe;
  border-bottom: none;
  color: #000;
}
.tabs--simple .tabs__item {
  padding: 25px 0 35px;
}
.tabs--detail .tabs__content {
  padding: 20px 12px;
  border: 1px solid #bebebe;
  border-top: none;
  font-size: 14px;
  font-family: 'Arial', 'Helvetica', sans-serif;
}
.tabs--detail .tabs__content p {
  margin: 0 0 10px 0;
}
.tabs--detail .tabs__content p:last-child {
  margin-bottom: 0;
}
.tabs--detail .tabs__item {
  padding: 0;
}
.tabs--wide {
  margin: 13px -11px 15px;
}
.filter-icon,
.sort-icon {
  margin-top: 7px;
}
.filter-icon {
  margin-right: 19.7%;
}
.sort-icon {
  margin-right: 7%;
}
.filter-text,
.sort-text {
  display: inline-block;
}
.filter-text {
  margin-left: 17.6%;
}
.sort-text {
  margin-left: 8.45%;
}
.btn-sort {
  width: 25px;
  height: 25px;
  background: #fff;
  border: none;
  position: relative;
  margin: 2px 0 0 13px;
}
.btn-sort:after,
.btn-sort:before {
  position: absolute;
  content: '';
  left: 7px;
  width: 10px;
  height: 6px;
}
.btn-sort:after {
  background: url('../images/sprite.png') -666px 0px no-repeat;
  top: 3px;
}
.btn-sort:before {
  background: url('../images/sprite.png') -686px 0px no-repeat;
  top: 17px;
}
.btn-sort.up:after,
.btn-sort.up:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.btn-sort.up:after {
  background: url('../images/sprite.png') -686px 0px no-repeat;
  top: 3px;
}
.btn-sort.up:before {
  background: url('../images/sprite.png') -666px 0px no-repeat;
  top: 17px;
}
.input {
  height: 29px;
  width: 100%;
  padding: 0 8px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  color: #607d8b;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
}
.input::-webkit-input-placeholder {
  color: #607d8b;
}
.input:-moz-placeholder {
  color: #607d8b;
}
.input-btn {
  height: 38px;
  background-color: #a80204;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-weight: 700;
}
.input-btn__arrow {
  display: inline-block;
  margin-right: 10px;
}
.input-btn--big {
  display: block;
  width: 184px;
  height: 40px;
  border-radius: 1px;
  line-height: 40px;
  margin: 22px auto 33px;
  text-align: center;
  text-transform: uppercase;
}
.input-btn--lk {
  display: inline-block;
  height: 37px;
  width: 47.6%;
  background-color: #ececec;
  border-radius: 3px;
  line-height: 37px;
  margin-bottom: 35px;
  color: #263238;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.input-btn--login {
  width: 114px;
  border-radius: 3px;
  text-transform: uppercase;
}
.input-btn--reg {
  width: 276px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.lk {
  margin-top: 20px;
  text-align: center;
}
.lk__link-wrap {
  margin-bottom: 85px;
}
.lk__link {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #d3d3d3;
  padding-left: 22px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  font-size: 15px;
  font-weight: 700;
}
.lk__link:first-child {
  border-top: 1px solid #d3d3d3;
}
.lk__link-icon {
  margin: 10px 12px 0 0;
  opacity: 0.2;
}
.lk__link-info {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  border-radius: 100%;
  background: #92979a;
  padding: 0 4px 0 3px;
  margin-left: 15px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}
.lk__profile {
  padding: 0 11px 35px;
  text-align: left;
}
.lk__profile .heading-lev2 {
  margin-bottom: 14px;
}
.lk__profile .filter-catalog {
  background: #f6f3fa;
}
.lk__profile .range {
  width: 92%;
}
.lk__profile .filter .SumoSelect {
  width: 100%;
  border: 1px solid #e3e3e3;
}
.lk__profile .filter .SelectBox {
  padding: 7px 8px 8px 14px;
}
.lk__profile .filter .SumoSelect > .CaptionCont > span {
  font-weight: 700;
  font-size: 14px;
}
.lk__profile .filter .SumoSelect > .CaptionCont > label > i {
  background: url('../images/sprite.png') -1228px 0px;
  width: 19px;
  height: 11px;
  opacity: 0.15;
  top: 13px;
}
.lk__profile .tabs__head.fixed {
  background: #f6f3fa;
}
.lk__profile .tabs__head.fixed + .tabs__content {
  background: #f6f3fa;
  z-index: 2;
  position: relative;
  margin-top: -155px;
  padding-bottom: 50px;
}
.order__wrap {
  padding: 0 11px;
}
.order__item {
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  font-size: 12px;
}
.order__item.open .order__info {
  display: block;
}
.order__item:last-child {
  margin-bottom: 0;
}
.order__add-link {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 13px;
  z-index: 3;
}
.order__infoblock {
  padding: 10px 13px 10px 15px;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}
.order__infoblock:last-child {
  border-bottom: none;
  padding-top: 15px;
}
.order__status {
  color: #263238;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 21px;
  padding-bottom: 21px;
}
.order__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.order__description {
  color: #7f7f7f;
  font-weight: 700;
}
.order__price {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 14px;
  font-family: 'SegoeUI';
  font-size: 20px;
  font-weight: 600;
}
.order__count {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
}
.order__icon-open {
  position: absolute;
  top: 29px;
  right: 14px;
  background: url('../images/sprite.png') -638px 0px no-repeat;
  width: 18px;
  height: 10px;
}
.order__icon-open.active {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.order__info {
  display: none;
}
.order__element {
  display: table;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px dashed #e3e3e3;
  font-family: 'Arial', 'Helvetica', sans-serif;
}
.order__element-title,
.order__element-count,
.order__element-price {
  display: table-cell;
  vertical-align: bottom;
}
.order__element-title {
  width: 53%;
  padding-right: 10px;
}
.order__element-count {
  width: 16.5%;
  text-align: right;
}
.order__element-price {
  width: 30.5%;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}
.order__info-text {
  color: #010000;
  line-height: 1.5;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 0 8px;
}
.order .input-btn {
  width: 132px;
  height: 44px;
  margin-bottom: 5px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
}
.filter__category {
  margin: 0 -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.filter__category.fixed {
  position: fixed;
  background: #fff;
  z-index: 5;
  left: 0;
  right: 0;
  padding: 0 10px 10px;
  top: 162px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.filter__category-item {
  display: block;
  width: 44px;
  height: 42px;
  background-color: #263238;
  border: 1px solid #f6f3f9;
  text-decoration: none;
  text-align: center;
}
.filter__category-item--pad1 {
  padding: 8px 0;
}
.filter__category-item--pad2 {
  padding: 4px 0;
}
.filter__category-item--pad3 {
  padding: 6px 0;
}
.filter__category-item.active {
  background: #a80204;
}
.filter__element {
  margin-top: 15px;
}
.filter__element.hidden {
  display: none;
}
.filter__element.level-2 {
  padding-left: 15px;
}
.filter__add-link {
  color: #263238;
  font-size: 14px;
  text-decoration: none;
}
.filter__add-link .plus {
  display: inline-block;
  margin-right: 3px;
}
.filter__add-link .minus {
  display: none;
  margin-right: 3px;
}
.filter__add-link.active .plus {
  display: none;
}
.filter__add-link.active .minus {
  display: inline-block;
}
.filter__min-block {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  padding: 20px 0 0px;
}
.filter__min-block--right {
  text-align: right;
  padding-right: 11px;
}
.filter__min-block--left {
  padding-left: 11px;
}
.filter__btn-wrap {
  text-align: center;
  margin: 20px 0;
}
.filter__btn-wrap.fixed {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  margin: 0;
  padding: 10px 0;
}
.filter__btn {
  width: 142px;
  height: 31px;
  line-height: 31px;
  border: none;
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a80204), to(#a80204));
  background-image: -webkit-linear-gradient(bottom, #a80204 0%, #a80204 100%);
  background-image: linear-gradient(to top, #a80204 0%, #a80204 100%);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.filter__btn--grey {
  background: #f2f2f2;
  color: #263238;
  margin-left: 10px;
}
.filter__input-wrap {
  margin-right: -22px;
  margin-top: 35px;
}
.filter__input {
  width: 45%;
  height: 37px;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  text-align: center;
  color: #607d8b;
  font-size: 18px;
}
.filter__input-del {
  width: 7.85%;
  height: 2px;
  background: #000;
  border: none;
  margin: 17px 0 17px 1%;
}
.filter .check__wrap {
  display: inline-block;
}
.filter .round {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid #fff;
  margin: 8px 0;
  text-align: center;
  color: #fff;
  font-size: 19px;
  line-height: 1.2;
}
.filter .round .rubl {
  margin: 0;
}
.filter__sub-expand {
  text-decoration: none;
  color: #000;
}
.check__input {
  display: none;
}
.check__input:checked + .check__label {
  font-weight: 700;
}
.check__input:checked + .check__label--square,
.check__input:checked + .check__label--circle {
  font-weight: 400;
}
.check__input:checked + .check__label--square:after,
.check__input:checked + .check__label--circle:after {
  display: block;
}
.check__label {
  color: #000;
  font-size: 14px;
  position: relative;
}
.check__label--square,
.check__label--circle {
  padding-left: 37px;
  display: block;
}
.check__label--square:after,
.check__label--circle:after,
.check__label--square:before,
.check__label--circle:before {
  position: absolute;
  content: '';
  top: 50%;
}
.check__label--square:before,
.check__label--circle:before {
  width: 22px;
  height: 22px;
  border: 1px solid #e3e3e3;
  left: 0;
  margin-top: -11px;
}
.check__label--square:after,
.check__label--circle:after {
  display: none;
  background: url('../images/sprite.png') -893px 0px no-repeat;
  width: 16px;
  height: 14px;
  left: 5px;
  margin-top: -6px;
}
.check__label--circle {
  min-height: 50px;
  margin-bottom: 28px;
}
.check__label--circle:before {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  margin-top: -9px;
}
.check__label--circle:after {
  display: none;
  background: #e3e3e3;
  border-radius: 100%;
  width: 9px;
  height: 9px;
  left: 5px;
  margin-top: -4px;
}
.check__wrap--small {
  display: inline-block;
  margin: 15px 0;
}
.check__wrap--small .check__label {
  font-size: 12px;
}
.check__wrap--basket {
  display: inline-block;
  padding-left: 28px;
  margin: 15px 0;
}
.check__wrap--basket .check__label {
  text-transform: uppercase;
  text-align: left;
  font-size: 12px;
}
.check__wrap--basket .black-link {
  display: inline;
}
.check__text {
  display: inline-block;
  width: 66%;
  min-height: 50px;
  font-size: 12px;
}
.check__title {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.check__img {
  display: inline-block;
  width: 72px;
  height: 50px;
  border: 1px solid #bfc0c5;
  border-radius: 4px;
  margin-right: 15px;
  overflow: hidden;
  text-align: center;
}
.check__img--pad1 {
  padding: 6px 0;
}
.check__img--pad2 {
  padding: 8px 0;
}
.check__img--pad3 {
  padding: 14px 0;
}
.accordion__link {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #f4f4f4;
  padding-left: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.accordion__link.active {
  background: #e5e5e5;
}
.accordion__link.active .accordion__icon {
  opacity: 1;
}
.accordion__icon {
  width: 19px;
  height: 11px;
  margin: 17px 9px 0 0;
  opacity: 0.15;
}
.accordion__dropdown {
  display: none;
  padding: 0 0 40px 21px;
  border-bottom: 1px solid #f4f4f4;
}
.accordion__dropdown--price {
  padding: 0 35px 40px 28px;
}
.accordion__item:first-child {
  border-top: 1px solid #f4f4f4;
}
.range {
  width: 100%;
  height: 10px;
  margin-top: 28px;
  padding-right: 22px;
  position: relative;
  background-color: #808080;
}
.range:after {
  position: absolute;
  content: '';
  top: 0;
  left: 100%;
  bottom: 0;
  width: 22px;
  background-color: #808080;
}
.ui-slider-range {
  height: 10px;
  background-color: #808080;
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0 !important;
}
.ui-slider-handle {
  display: inline-block;
  position: absolute;
  top: -6px;
  width: 22px;
  height: 22px;
  background-color: #263238;
  z-index: 3;
}
.social__item {
  display: inline-block;
  width: 39px;
  height: 39px;
  border: 2px solid #fff;
  border-radius: 100%;
  margin-right: 11px;
  text-align: center;
}
.social__item--vk {
  padding-top: 6px;
}
.social__item--fb {
  padding-top: 2px;
}
.social__item:last-child {
  margin-right: 0;
}
.share-social {
  text-align: center;
  padding: 17px 0;
}
.share-social__text {
  color: #a2a2a2;
  font-size: 14px;
  text-transform: uppercase;
}
.share-social__link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.tags {
  padding: 30px 12px;
  font-size: 14px;
  font-family: 'Arial', 'Helvetica', sans-serif;
}
.tags__text {
  display: inline-block;
  margin-left: 5px;
  font-weight: 700;
  text-transform: uppercase;
}
.tags__link {
  display: inline-block;
  margin-left: 12px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #959595;
}
.heading-lev2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 25px 0;
}
.carousel {
  width: 100%;
  background: #eff2f3;
}
.carousel__item {
  min-width: 320px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}
.carousel__heading {
  color: #000;
  font-size: 27px;
  font-weight: 700;
  padding: 0 12px;
  margin: 25px 0 20px;
}
.carousel__description {
  color: #263238;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 25px;
}
.carousel .input-btn {
  width: 140px;
  margin-bottom: 20px;
  background: #d42023;
  display: inline-block;
  line-height: 38px;
  font-size: 12px;
  text-decoration: none;
}
.owl-controls {
  background: #fff;
  height: 42px;
}
.nav-level2 .navigation__level2 {
  left: 0;
  z-index: 5;
  opacity: 1;
}
.nav-level2 .navigation__level1 {
  left: 100%;
  opacity: 0;
}
.nav-level3 .navigation__level3 {
  left: 0;
  z-index: 6;
  opacity: 1;
}
.nav-level3 .navigation__level2 {
  left: 100%;
  opacity: 0;
}
.navigation {
  background: #fff;
  border-top: 1px solid #f4f4f4;
  margin-bottom: 40px;
  font-size: 15px;
  text-transform: uppercase;
}
.navigation__link,
.navigation__link-menu {
  color: #333;
  text-decoration: none;
}
.navigation__link {
  display: block;
  width: 100%;
  border-bottom: 1px solid #f4f4f4;
  padding: 11px 12px;
  position: relative;
}
.navigation__link--main {
  font-weight: 700;
  color: #000;
}
.navigation__link--back {
  border-bottom: none;
  text-transform: none;
  color: #363535;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
}
.navigation__link--small {
  text-transform: none;
  font-size: 14px;
  color: #000;
}
.navigation__link.active {
  background-color: #636363;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a3090d), to(#a3090d));
  background-image: -webkit-linear-gradient(bottom, #a3090d 0%, #a3090d 100%);
  background-image: linear-gradient(to top, #a3090d 0%, #a3090d 100%);
  color: #fff;
}
.navigation__open-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 20%;
  opacity: 0.3;
  padding-right: 12px;
  text-align: right;
  line-height: 3.3;
}
.navigation__back-text {
  display: inline-block;
  margin-left: 8px;
}
.navigation__levels {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.navigation__level1 {
  left: 0;
  position: relative;
}
.navigation__level2,
.navigation__level3 {
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  width: 100%;
  height: auto;
  background: #fff;
  float: left;
  opacity: 0;
}
.navigation__level3 .active {
  background: #e5e5e5;
  color: #010000;
}
.navigation__level1,
.navigation__level2,
.navigation__level3 {
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.hidden-block {
  display: none;
}
.deals {
  background: url('../images/deals.jpg') no-repeat;
  background-size: cover;
  padding: 25px 12px;
  margin-bottom: 30px;
  text-align: center;
}
.deals__heading {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.deals .input {
  font-style: italic;
  font-size: 14px;
  width: 56%;
  height: 38px;
  margin-right: 11px;
}
.deals .input-btn {
  width: 101px;
  font-size: 12px;
  text-transform: lowercase;
}
.heading {
  position: relative;
}
.heading:after,
.heading:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -3px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #000;
}
.heading:after {
  left: -16px;
}
.heading:before {
  right: -16px;
}
.absolute-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.big-link {
  display: inline-block;
  margin: 0 auto;
  color: #8c8c8c;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.infoblock {
  padding-bottom: 30px;
}
.infoblock__heading {
  margin-bottom: 18px;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.infoblock__item {
  position: relative;
  margin-bottom: 25px;
}
.infoblock__img {
  overflow: hidden;
}
.infoblock__img img {
  -o-object-fit: contain;
  object-fit: contain;
  min-width: 100%;
}
.infoblock__description {
  background-color: #5b0304;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4f070b), to(#4f070b));
  background-image: -webkit-linear-gradient(bottom, #4f070b 0%, #4f070b 100%);
  background-image: linear-gradient(to top, #4f070b 0%, #4f070b 100%);
  padding: 10px 20px;
  margin-top: -5px;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 15px;
  color: #fefefe;
}
.infoblock__description--white {
  background: #fff;
  border-bottom: 1px solid #babec0;
  font-size: 12px;
}
.infoblock__description--white .infoblock__date {
  color: #484848;
}
.infoblock__description--white .infoblock__text {
  color: #000;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
}
.infoblock__date {
  font-size: 13px;
  margin-bottom: 5px;
}
.infoblock__link {
  text-align: center;
}
.form__label {
  color: #29343a;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.form__label--block {
  display: block;
  width: 100%;
  padding: 7px 0;
  font-weight: 400;
  font-family: 'Arial', 'Helvetica', sans-serif;
}
.form__input {
  width: 100%;
  height: 34px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  padding: 0 10px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.form__input::-webkit-input-placeholder {
  color: #bebebe;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.form__input::-moz-placeholder {
  color: #bebebe;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.form__input:-moz-placeholder {
  color: #bebebe;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.form__input:-ms-input-placeholder {
  color: #bebebe;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.form__input--small {
  width: 47.4%;
}
.form__input--phone-part1 {
  width: 21.3%;
  margin-right: 2.34%;
}
.form__input--phone-part2 {
  width: 66%;
  float: right;
}
.form__input--date {
  position: relative;
}
.form__input--date:after {
  position: absolute;
  content: '';
  right: 13px;
  top: 4px;
  background: url('../images/sprite.png') -973px 0px no-repeat;
  width: 23px;
  height: 25px;
}
.form__number {
  display: inline-block;
  width: 7.6%;
  height: 34px;
  line-height: 34px;
  color: #000;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.form__textarea {
  width: 100%;
  height: 94px;
  border: 1px solid #e3e3e3;
  padding: 10px;
  resize: none;
}
.form__element {
  margin-bottom: 15px;
}
.form__element--bottom {
  margin-top: 25px;
}
.form__element--center {
  text-align: center;
}
.form__element--marg {
  margin-bottom: 37px;
}
.form__element--marg1 {
  margin-top: 45px;
}
.form__element--btn {
  margin: 45px -11px 0;
  padding: 14px 11px 14px;
  background: #fff;
}
.form__element--btn.fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0 0 0 -11px;
  z-index: 6;
}
.form__element:last-child {
  margin-bottom: 0;
}
.form__heading {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.form__heading .check__wrap {
  display: inline-block;
  margin: 12px 0 7px;
  font-weight: 400;
}
.form__text {
  font-size: 14px;
  font-family: 'Arial', 'Helvetica', sans-serif;
  line-height: 1.3;
}
.form__social {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
}
.form--filter {
  padding: 30px 0 0;
  margin: 0 -11px;
}
.form--filter-fixed {
  padding: 0 0 55px;
  margin: -15px -11px 0;
}
.form--reg .form__label--block {
  font-weight: 700;
}
.blue-link {
  color: #036eb9;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.black-link {
  color: #000;
  display: inline-block;
  margin-left: 5px;
}
.rubl {
  font-style: normal;
  font-family: 'Rubl';
  margin-left: -5px;
  text-transform: none;
}
.promo {
  background: #f9f9f9;
  padding: 11px;
  margin-bottom: 32px;
}
.promo__heading {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 11px;
}
.promo .input {
  width: 58.4%;
  height: 38px;
  margin-right: 3%;
}
.promo .input-btn {
  width: 37%;
  height: 39px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.product_list {
  width: 100%;
  height: 491px;
  position: relative;
}
.product_list--catalog {
  height: auto;
  padding: 12px 12px 0;
}
.product_list--detail {
  margin-bottom: 22px;
  height: auto;
}
.product_list--detail-carousel {
  height: 438px;
  margin-bottom: 15px;
}
.product_list--detail-carousel .slick-list {
  padding: 0;
  margin: 0;
}
.product_list--detail-carousel .product-item {
  height: 438px;
}
.product_list--detail-carousel .product-item__vendor-code {
  margin-bottom: 15px;
}
.product_list--detail-carousel .product-item__title {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 25px;
}
.product_list--detail-carousel .product-item__price {
  margin: 0 -11px;
}
.action {
  padding: 8px 0;
  background-color: #a80204;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.slideprev,
.slidenext {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  z-index: 5;
  cursor: pointer;
}
.slideprev {
  left: 12px;
}
.slidenext {
  right: 12px;
}
.product-item {
  width: 212px !important;
  height: 491px;
  background-color: #fff;
  border: 1px solid #babec0;
  margin: 0 auto;
  text-align: center;
}
.product-item__info {
  width: 100%;
  position: relative;
  padding: 0 46px;
}
.product-item__img {
  width: 100%;
  height: 212px;
  display: block;
  margin: 10px auto 13px;
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid #263238;
}
.product-item__img img {
  position: absolute;
  display: block;
  width: 100%;
}
.product-item__vendor-code {
  color: #999898;
  font-family: 'SegoeUI';
  font-size: 15px;
  margin-bottom: 6px;
}
.product-item__title {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  height: 85px;
  margin-bottom: 6px;
}
.product-item__price {
  color: #a80204;
  font-family: 'SegoeUI';
  font-size: 24px;
  font-weight: 700;
}
.product-item__price-sale {
  color: #999898;
  font-size: 20px;
  font-weight: 400;
  text-decoration: line-through;
  line-height: 0.8;
}
.product-item__action {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 43px;
  height: 43px;
  background-color: #a80204;
  color: #fff;
  font-family: 'SegoeUI';
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 43px;
  z-index: 5;
  border-radius: 100%;
}
.product-item .input-btn {
  display: inline-block;
  width: 132px;
  height: 44px;
  border-radius: 3px;
  margin: 18px 0 0 -6px;
  line-height: 44px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}
.product-item__btn-count {
  text-align: left;
  margin-bottom: 6px;
}
.product-item__btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #4f070b;
  border-radius: 100%;
  position: relative;
  vertical-align: top;
}
.product-item__btn:after {
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -2px;
  left: 8px;
  width: 16px;
  height: 4px;
  background-color: #fff;
}
.product-item__btn.plus:before {
  position: absolute;
  content: '';
  top: 8px;
  margin-left: -2px;
  left: 50%;
  width: 4px;
  height: 16px;
  background-color: #fff;
}
.product-item__count {
  margin-left: -2px;
  border: none;
  height: 32px;
  width: 42px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.product-item__extra {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  height: auto;
  text-align: left;
  z-index: 5;
}
.product-item__extra-description {
  display: inline-block;
  padding-left: 6px;
  font-weight: 700;
  font-family: 'Arial', 'Helvetica', sans-serif;
  line-height: 0.8;
  text-transform: uppercase;
}
.product-item__extra-count {
  color: #263238;
  font-size: 18px;
}
.product-item__extra-text {
  color: #999898;
  font-size: 10px;
}
.product-item--wide {
  width: 100% !important;
  height: auto;
  margin-bottom: 13px;
  border: 1px solid #f6f3f9;
}
.product-item--wide .product-item__info {
  padding: 12px;
}
.product-item--wide .product-item__img,
.product-item--wide .product-item__descr {
  width: 50%;
}
.product-item--wide .product-item__vendor-code,
.product-item--wide .product-item__title {
  text-align: left;
}
.product-item--wide .product-item__img {
  margin: 0;
  border: none;
}
.product-item--wide .product-item__img img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.product-item--wide .product-item__title {
  color: #000;
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 14px;
  overflow: hidden;
}
.product-item--wide .product-item__vendor-code {
  margin-bottom: 10px;
}
.product-item--wide .product-item__price {
  color: #000;
  font-weight: 600;
}
.product-item--wide .product-item__price-sale {
  text-decoration: none;
  margin-top: 4px;
}
.product-item--wide .product-item__price-sale span {
  position: relative;
}
.product-item--wide .product-item__price-sale span:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  margin-top: 1px;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.product-item--wide .input-btn {
  margin: 12px 0 0 0;
}
.product-item--detail {
  border: none;
}
.product-item--detail .product-item__img,
.product-item--detail .product-item__descr {
  width: 100%;
}
.product-item--detail .product-item__vendor-code,
.product-item--detail .product-item__btn-count {
  text-align: center;
}
.product-item--detail .product-item__img {
  height: 240px;
  margin-bottom: 5px;
}
.product-item--detail .product-item__vendor-code {
  margin-bottom: 3px;
}
.product-item--detail .product-item__price-sale {
  margin-top: 0;
}
.product-item--detail .product-item__btn-count {
  margin: 20px 0 0;
}
.product-item--detail .input-btn {
  margin-top: 10px;
}
.basket__total {
  color: #263238;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}
.basket .product-item--wide {
  border: none;
}
.basket .product-item__title {
  font-size: 14px;
  margin-bottom: 6px;
}
.basket .product-item__vendor-code {
  margin-bottom: 7px;
}
.basket .product-item__img img {
  width: 72%;
}
.basket .product-item__price {
  text-align: left;
}
.added {
  background-color: #a7a7a7;
}
.help-block {
  margin-top: 10px;
}
.help-block.form-error {
  color: #0e0203;
  font-weight: 700;
}
.left {
  float: left;
}
.right {
  float: right;
}
#popup {
  position: fixed;
  top: 0;
  left: -100%;
  min-width: 100%;
  min-height: 100vh;
  background: #fff;
  z-index: 101;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.open-popup #popup {
  left: 0;
}
#popup .header__item {
  width: 29%;
  max-height: 56px;
  border-bottom: none;
}
#popup .header__links {
  height: 56px;
}
#popup .header__bottom {
  min-height: 56px;
  height: auto;
}
#popup .header__time {
  position: relative;
  border-top: 1px solid #f4f4f4;
}
#popup .navigation {
  font-family: 'OpenSans';
}
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-controls .owl-dots {
  height: 100%;
  text-align: center;
  padding-top: 8px;
}
.owl-controls {
  text-align: center;
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 100%;
  width: 11px;
  height: 11px;
  background-color: #eff2f3;
  margin-right: 8px;
  display: inline-block;
}
.owl-carousel .owl-controls .owl-dot.active {
  background-color: #c7cacb;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 0 -150px;
  padding: 2px 0 150px;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/*SumoSelect*/
.SumoSelect p {
  margin: 0;
}
.form--sort .SumoSelect {
  float: right;
}
.SumoSelect {
  width: 48.6%;
}
.SelectBox {
  padding: 6px 8px 6px 14px;
}
.sumoStopScroll {
  overflow: hidden;
}
/* Filtering style */
.SumoSelect .hidden {
  display: none;
}
.SumoSelect .search-txt {
  display: none;
  outline: none;
}
.SumoSelect .no-match {
  display: none;
  padding: 6px;
}
.SumoSelect.open .search-txt {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 5px 8px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
}
.SumoSelect.open > .search > span,
.SumoSelect.open > .search > label {
  visibility: hidden;
}
/*this is applied on that hidden select. DO NOT USE display:none; or visiblity:hidden; and Do not override any of these properties. */
.SelectClass,
.SumoUnder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.SelectClass {
  z-index: 1;
}
.SumoSelect > .optWrapper > .options li.opt label,
.SumoSelect > .CaptionCont,
.SumoSelect .select-all > label {
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.SumoSelect {
  display: inline-block;
  position: relative;
  outline: none;
}
.SumoSelect:focus > .CaptionCont,
.SumoSelect:hover > .CaptionCont,
.SumoSelect.open > .CaptionCont {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.SumoSelect > .CaptionCont {
  position: relative;
  border: none;
  min-height: 14px;
  background-color: #fff;
  border-radius: 0;
  margin: 0;
}
.SumoSelect > .CaptionCont > span {
  display: block;
  padding-right: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  color: #999898;
  font-family: OpenSans;
  font-size: 12px;
  text-transform: uppercase;
}
/*placeholder style*/
.SumoSelect > .CaptionCont > span.placeholder {
  color: #ccc;
  font-style: italic;
}
.SumoSelect > .CaptionCont > label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 33px;
}
.SumoSelect > .CaptionCont > label > i {
  background: url('../images/sprite.png') -638px 0px;
  width: 18px;
  height: 10px;
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
}
.SumoSelect > .optWrapper {
  display: none;
  z-index: 1000;
  top: 30px;
  width: 100%;
  position: absolute;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
  border-radius: 3px;
  overflow: hidden;
}
.SumoSelect.open > .optWrapper {
  top: 35px;
  display: block;
}
.SumoSelect.open > .optWrapper.up {
  top: auto;
  bottom: 100%;
  margin-bottom: 5px;
}
.SumoSelect > .optWrapper ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.SumoSelect > .optWrapper > .options {
  border-radius: 0;
  position: relative;
  /*Set the height of pop up here (only for desktop mode)*/
  max-height: 250px;
  /*height*/
}
.SumoSelect > .optWrapper > .options li.group.disabled > label {
  opacity: 0.5;
}
.SumoSelect > .optWrapper > .options li ul li.opt {
  padding-left: 22px;
}
.SumoSelect > .optWrapper.multiple > .options li ul li.opt {
  padding-left: 50px;
}
.SumoSelect > .optWrapper.isFloating > .options {
  max-height: 100%;
  -webkit-box-shadow: 0 0 100px #595959;
  box-shadow: 0 0 100px #595959;
}
.SumoSelect > .optWrapper > .options li.opt {
  padding: 6px 6px;
  position: relative;
  border-bottom: 0 solid #f5f5f5;
}
.SumoSelect > .optWrapper > .options > li.opt:first-child {
  border-radius: 0 0 0 0;
}
.SumoSelect > .optWrapper > .options > li.opt:last-child {
  border-radius: 0 0 2px 2px;
  border-bottom: none;
}
.SumoSelect > .optWrapper > .options li.opt:hover {
  background-color: #E4E4E4;
}
.SumoSelect > .optWrapper > .options li.opt.sel {
  background-color: #a1c0e4;
  border-bottom: 0 solid #a1c0e4;
}
.SumoSelect > .optWrapper > .options li label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  cursor: pointer;
}
.SumoSelect > .optWrapper > .options li span {
  display: none;
}
.SumoSelect > .optWrapper > .options li.group > label {
  cursor: default;
  padding: 8px 6px;
  font-weight: bold;
}
/*Floating styles*/
.SumoSelect > .optWrapper.isFloating {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  bottom: 0;
  margin: auto;
  max-height: 90%;
}
/*disabled state*/
.SumoSelect > .optWrapper > .options li.opt.disabled {
  background-color: inherit;
  pointer-events: none;
}
.SumoSelect > .optWrapper > .options li.opt.disabled * {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
}
/*styling for multiple select*/
.SumoSelect > .optWrapper.multiple > .options li.opt {
  padding-left: 35px;
  cursor: pointer;
}
.SumoSelect > .optWrapper.multiple > .options li.opt span,
.SumoSelect .select-all > span {
  position: absolute;
  display: block;
  width: 30px;
  top: 0;
  bottom: 0;
  margin-left: -35px;
}
.SumoSelect > .optWrapper.multiple > .options li.opt span i,
.SumoSelect .select-all > span i {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #AEAEAE;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
.SumoSelect > .optWrapper > .MultiControls {
  display: none;
  border-top: 1px solid #ddd;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
  border-radius: 0 0 3px 3px;
}
.SumoSelect > .optWrapper.multiple.isFloating > .MultiControls {
  display: block;
  margin-top: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls {
  display: block;
}
.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p {
  padding: 6px;
}
.SumoSelect > .optWrapper.multiple > .MultiControls > p {
  display: inline-block;
  cursor: pointer;
  padding: 12px;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.SumoSelect > .optWrapper.multiple > .MultiControls > p:hover {
  background-color: #f1f1f1;
}
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk {
  border-right: 1px solid #DBDBDB;
  border-radius: 0 0 0 3px;
}
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel {
  border-radius: 0 0 3px 0;
}
/*styling for select on popup mode*/
.SumoSelect > .optWrapper.isFloating > .options li.opt {
  padding: 12px 6px;
}
/*styling for only multiple select on popup mode*/
.SumoSelect > .optWrapper.multiple.isFloating > .options li.opt {
  padding-left: 35px;
}
.SumoSelect > .optWrapper.multiple.isFloating {
  padding-bottom: 43px;
}
.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i,
.SumoSelect .select-all.selected > span i,
.SumoSelect .select-all.partial > span i {
  background-color: #11a911;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: center center;
}
/*disabled state*/
.SumoSelect.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.SumoSelect.disabled > .CaptionCont {
  border-color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/**Select all button**/
.SumoSelect .select-all {
  border-radius: 3px 3px 0 0;
  position: relative;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  padding: 8px 0 3px 35px;
  height: 20px;
  cursor: pointer;
}
.SumoSelect .select-all > label,
.SumoSelect .select-all > span i {
  cursor: pointer;
}
.SumoSelect .select-all.partial > span i {
  background-color: #ccc;
}
/*styling for optgroups*/
.SumoSelect > .optWrapper > .options li.optGroup {
  padding-left: 5px;
  text-decoration: underline;
}
