html, body {
	height: 100%;
	min-width: 320px;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.pagewrap{
	min-height: 100%;
	/*padding-bottom: calc( @footer-height + 60px );
	margin-bottom: -@footer-height;*/
	background: @white;
}

.container {
	width: 100%;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: @white;
	z-index: 100;
	
	&__top {
		border-bottom: 1px solid @grey;
	}
	&__logo, &__menu-icon,  &__item {
		display: inline-block;
	}	
	
	&__tel {
		float: right;
		margin: 16px 72px 13px 12px;
	}
	
	&__logo {		
		width: 179px;
		height: 26px;
		margin: 13px 0 13px 12px;
		cursor: pointer;		
	}
	
	&__menu {
		position: absolute;
		top: 0;
		right: 0;
		width: 59px;
		height: 56px;
		background-color: @red;
		text-align: center;
		line-height: 65px;
		
		&--close {
			background-color: @black1;
		}
	}
	
	&__menu-icon {				
		width: 24px;
		height: 20px;
	}
	
	&__links, &__time, &__bottom {
		vertical-align: top;
		height: 53px;
	}
	
	&__bottom {
		position: relative;
		border-bottom: 1px solid @grey;
	}	 
	
	&__item {
		display: block;
		float: left;
		width: 32.69%;
		height: 100%;
		max-height: 53px;
		border-right: 1px solid @grey;
		border-bottom: 1px solid @grey;
		padding-top: 15px;		
		text-align: center;
		text-decoration: none;
		color: @white;
		font-family: @priceFont;
		font-size: 12px;
		font-weight: 400;
		
		&:last-child {
			border-right: none;
		}
	}
	
	&__cart {
		display: inline-block;	
		min-width: 21px;
		height: 21px;
		padding: 0 2px;
		margin-left: 6px;
		background-color: @grey1;
		border-radius: 100%;
		text-align: center;
		line-height: 21px;
		color: @white;
		top: -6px;
		position: relative;
		
	}
	
	&__time {
		text-align: center;
		color: @grey1;
		font-family: @defFont;
		font-size: 18px;
		text-transform: uppercase;
		padding: 10px 0;
		background: @white;
		border-bottom: 1px solid @grey;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: none;
	
		&.active {
			display: block;
		}
	}
	
	&__search {
		padding: 12px 14px 10px;
		border-bottom: 1px solid @grey;
		display: none;
	
		&.active {
			display: block;
		}
	}
	
	.working-hours {
		margin-top: 5px;
		font-size: 12px;
	}
}

.footer {
	background-color: @grey1;
	padding: 16px 0;
	color: @white;
	font-family: @defFont;
	text-align: center;
	
	a {
		color: @white;
		text-decoration: none;
		display: inline-block;
		margin: 8px 0 15px;
	}
	
	&__contacts {
		margin-bottom: 14px;
		border-bottom: 1px solid @grey2;
	}
	
	&__tel {
		font-size: 20px;
		text-transform: uppercase;
	}
	
	&__mail, &__bottom {		
		font-size: 13px;
	}
	
	.social__item {
		margin: 0 11px 2px 0;
	}
	
	.sprite.a10 {
		margin-right: 8px;
	}
}

.content {
	padding-top: 110px;
	font-family: @baseFont;
}

.breadcrumbs {
	font-size: 12px;
	font-family: @defFont;
	padding: 15px 8px 15px 13px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	
	&__item {
		display: inline;
		color: @red;
	}
	
	&__link {
		color: @black1;
	}
	
	&__delimiter {
		color: @black2;
		margin: 0 2px 0 4px;
	}
}

.heading-big {
	margin: 0;
	width: 100%;
	color: @red2;
	font-family: @baseFont;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	
	&__subtitle {
		color: @grey9;
		font-size: 15px;
		font-weight: 400;
	}
	
	&--marg {
		margin: 20px 0;
	}
	&--marg1 {
		margin: 20px 0 0;
	}
	
	&--detail {
		font-size: 18px;
		margin-bottom: 40px;
		
		.heading-big__subtitle {
			font-size: 12px;
			margin-top: 22px;
			padding: 0 20px;
		}
	}
}

a.bordered-link {
	text-decoration: underline;
}

.tabs {
	background-color: @grey12;
	margin: 20px 0 0;
	
	&__head {
		padding: 11px;

		&.fixed {
			position: fixed;
			z-index: 5;
			left: 0;
			right: 0;
			top: 110px;
			background: @white;
		}
	}
	
	&__item {
		display: none;
		padding: 5px 11px 20px;
		
		&.active {
			display: block;
		}
	}
	
	&__link {
		width: 47.9%;
		height: 30px;
		background-color: @black1;
		margin-right: 1.6%;
		color: @white;
		font-family: @baseFont;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 30px;
		
		&:last-child {
			margin-right: 0;
			margin-left: 1.6%;
		}
		
		&.active {
			background-color: @red;
		}
	}
	
	&.filter-catalog {
		background: @white;
		.tabs__item {
			padding-bottom: 0;
		}
		
	}
	
	&--simple {
		background: @white;
		padding: 0 10px;
		
		.tabs__head {
			padding: 0;
		}
		
		.tabs__link {
			width: 49.5%;
			background-color: @black6;
			margin: 0;
			padding: 0;
			text-align: center;
			text-decoration: none;
			
			&.active {
				background: @white;
				border: 1px solid @grey22;
				border-bottom: none;
				color: @black;
			}
			
			
		}
		
		.tabs__item {
			padding: 25px 0 35px;
		}
	}
	
	&--detail {
		.tabs__content {
			padding: 20px 12px;
			border:1px solid @grey22;
			border-top: none;
			font-size: 14px;
			font-family: @defFont;
			
			p {
				margin: 0 0 10px 0;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		
		.tabs__item {
			padding: 0;
		}
	}
	
	&--wide {		
		margin: 13px -11px 15px;
	}	
}

.filter-icon, .sort-icon {
	margin-top: 7px;
}

.filter-icon {
	margin-right: 19.7%;
}
.sort-icon {
	margin-right: 7%;
}

.filter-text, .sort-text {
	display: inline-block;
}

.filter-text {
	margin-left: 17.6%;
}

.sort-text {
	margin-left: 8.45%;
}

.btn-sort {
	width: 25px;
	height: 25px;
	background: @white;
	border: none;
	position: relative;
	margin: 2px 0 0 13px;
	
	&:after, &:before {
		position: absolute;	
		content: '';		
		left: 7px;
		width: 10px;
		height: 6px;
	}
	
	&:after {
		background: url('../images/sprite.png') -666px 0px no-repeat;
		top: 3px;
	}
	
	&:before {
		background: url('../images/sprite.png') -686px 0px no-repeat;
		top: 17px;
	}
	
	&.up {
		&:after, &:before {
			transform: rotate(180deg);
		}
		
		&:after {
			background: url('../images/sprite.png') -686px 0px no-repeat;
			top: 3px;
		}
		
		&:before {
			background: url('../images/sprite.png') -666px 0px no-repeat;
			top: 17px;
		}
	}
}

.input {
	height: 29px;
	width: 100%;
	padding: 0 8px;
	background-color: @white;
	border: 1px solid @grey3;
	color: @grey4;
	font-family: @defFont;
	font-size: 12px;
	
	&::-webkit-input-placeholder {
		color: @grey4;
	}
	
	&:-moz-placeholder {
		color: @grey4;
		}
}

.input-btn {	
	height: 38px;
	background-color: @red;
	border-radius: 2px;
	border: none;
	color: @white;
	font-weight: 700;
	
	&__arrow {
		display: inline-block;
		margin-right: 10px;
	}
	
	&--big {	
		display: block;
		width: 184px;
		height: 40px;
		border-radius: 1px;
		line-height: 40px;
		margin: 22px auto 33px;
		text-align: center;
		text-transform: uppercase;
	}
	
	&--lk {
		display: inline-block;
		height: 37px;
		width: 47.6%;
		background-color: @grey15;
		border-radius: 3px;
		line-height: 37px;		
		margin-bottom: 35px;
		color: @black1;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
	}
	
	&--login {
		width: 114px;
		border-radius: 3px;
		text-transform: uppercase;
	}
	
	&--reg {
		width: 276px;
		height: 50px;
		line-height: 50px;		
		border-radius: 5px;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.lk {
	margin-top: 20px;
	text-align: center;
	
	&__link-wrap {
		margin-bottom: 85px;
	}
	
	&__link {
		display: block;
		width: 100%;
		height: 44px;
		line-height: 44px;
		border-bottom: 1px solid @grey16;
		padding-left: 22px;
		color: @black;
		text-decoration: none;
		text-transform: uppercase;
		text-align: left;
		font-size: 15px;
		font-weight: 700;
		
		&:first-child {
			border-top: 1px solid @grey16;
		}
	}
	
	&__link-icon {
		margin: 10px 12px 0 0;
		opacity: 0.2;
	}
	
	&__link-info {
		display: inline-block;
		height: 22px;
		line-height: 22px;
		border-radius: 100%;
		background: @grey17;
		padding: 0 4px 0 3px;
		margin-left: 15px;
		color: @white;
	    text-align: center;		
		font-size: 13px;
		font-weight: 400;		
	}
	
	&__profile {
		padding: 0 11px 35px;
		text-align: left;
		
		.heading-lev2 {
			margin-bottom: 14px;
		}
		
		.filter-catalog {
			background: @grey28;
		}
		
		.range {
			width: 92%;
		}
		
		.filter .SumoSelect {
			width: 100%;
			border: 1px solid #e3e3e3;
		}
		
		.filter .SelectBox {
			padding: 7px 8px 8px 14px;
		}
		
		.filter .SumoSelect > .CaptionCont > span {
			font-weight: 700;
			font-size: 14px;
		}
		
		.filter .SumoSelect > .CaptionCont > label > i {
			background: url('../images/sprite.png') -1228px 0px;			
			width: 19px;
			height: 11px;
			opacity: 0.15;
			top: 13px;
		}
		
		.tabs__head.fixed{
			background: @grey28;		
		}
		
		.tabs__head.fixed + .tabs__content {
			background: @grey28;	
			z-index: 2;
			position: relative;
			margin-top: -155px;
			padding-bottom: 50px;
		}
	}
}

.order {
	&__wrap {
		padding: 0 11px;	
	}
	
	&__item {
		margin-bottom: 20px;		
		border: 1px solid @grey18;
		font-size: 12px;
		
		&.open {
			.order__info {
				display: block;
			}
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&__add-link {
		position: absolute;
		top: 50%;
		margin-top: -13px;
		right: 13px;
		z-index: 3;
	}
	
	&__infoblock {
		padding: 10px 13px 10px 15px;
		border-bottom: 1px solid @grey18;
		position: relative;	
		
		&:last-child {
			border-bottom: none;
			padding-top: 15px;
		}
	}
	
	&__status {
		color: #263238;
		font-family: @defFont;		
		font-weight: 700;
		text-transform: uppercase;
		padding-top: 21px;
		padding-bottom: 21px;
	}
	
	&__title {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 3px;
	}
	
	&__description {
		color: @grey27;
		font-weight: 700;
	}
	
	&__price {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 14px;
		font-family: @priceFont;
		font-size: 20px;
		font-weight: 600;
	} 
	
	&__count {
		font-family: @defFont;
		font-size: 14px;
	}
	
	&__icon-open {
		position: absolute;
		top: 29px;		
		right: 14px;
		background: url('../images/sprite.png') -638px 0px no-repeat;
		width: 18px;
		height: 10px;	
		
		
		&.active {			
			transform: rotate(-180deg);
		}
	}
	
	&__info {
		display: none;
	}
	
	&__element {
		display: table;
		width: 100%;
		padding: 20px 0;
		border-bottom: 1px dashed @grey18;
		font-family: @defFont;
	}
	
	&__element-title, &__element-count, &__element-price {
		display: table-cell;
		vertical-align: bottom;
	}
	
	&__element-title {
		width: 53%;	
		padding-right: 10px;
	}
	
	&__element-count {
		width: 16.5%;
		text-align: right;			
	}
	
	&__element-price {
		width: 30.5%;
		font-size: 14px;
		font-weight: 700;	
		text-align: right;		
	}
	
	&__info-text {
		color: @black3;
		line-height: 1.5;
		font-family: @defFont;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 20px 0 8px;
	}
	
	
	
	.input-btn {		
		width: 132px;
		height: 44px;
		margin-bottom: 5px;
		line-height: 44px;
		text-transform: uppercase;
		text-align: center;
	}
}

.filter {
	&__category {
		margin: 0 -5px;
		display: flex;
		justify-content: space-between;
		
		
		&.fixed {
			position: fixed;
			background: #fff;
			z-index: 5;
			left: 0;
			right: 0;
			padding: 0 10px 10px;
			top: 162px;
			justify-content: center;
		}
	}
	
	&__category-item {
		display: block;
		width: 44px;
		height: 42px;
		background-color: @black1;
		border: 1px solid @grey12;
		text-decoration: none;
		text-align: center;
		
		&--pad1 {
			padding: 8px 0;
		}
		
		&--pad2 {
			padding: 4px 0;
		}
		
		&--pad3 {
			padding: 6px 0;
		}
		
		&.active {
			background: @red;
		}
	}
	
	&__element {
		margin-top: 15px;
		
		&.hidden {
			display: none;
		}
		
		&.level-2 {
			padding-left: 15px;
		}
	}
	
	&__add-link {	
		color: @grey1;		
		font-size: 14px;
		text-decoration: none;
		
		.plus {
			display: inline-block;
			margin-right: 3px;
		}
		
		.minus{
			display: none;
			margin-right: 3px;
		}

		&.active {
			.plus {
				display: none;
			}
			
			.minus{
				display: inline-block;
			}
		}
	}
	
	&__min-block {
		width: 50%;
		display: table-cell;
		vertical-align: middle;
		padding: 20px 0 0px;
		
		&--right {
			text-align: right;
			padding-right: 11px;
		}
		
		&--left {			
			padding-left: 11px;
		}
	}
	
	&__btn-wrap {
		text-align: center;
		margin: 20px 0;
		
		&.fixed {
			position: fixed;			
			z-index: 5;
			left: 0;
			right: 0;
			bottom: 0;
			background: #fff;
			margin: 0;
			padding: 10px 0;
		}
	}
	
	&__btn {	
		width: 142px;
		height: 31px;
		line-height: 31px;
		border: none;
		background-color: @grey19;
		background-image: linear-gradient(to top, @red 0%, @red 100%);
		text-align: center;
		text-transform: uppercase;	
		color: @white;
		font-size: 14px;
		font-weight: 600;
		
		&--grey {
			background: @grey19;
			color: @black1;
			margin-left: 10px;
		}
	}
	
	&__input-wrap {
		margin-right: -22px;
		margin-top: 35px;
	}
	
	&__input {
		width: 45%;
		height: 37px;
		background-color: @white;
		border: 1px solid @grey21;
		text-align: center;
		color: @grey4;
		font-size: 18px;
	}
	
	&__input-del {
		width: 7.85%;
		height: 2px;
		background: @black;
		border: none;
		margin: 17px 0 17px 1%;
	}
	
	.check__wrap {
		display: inline-block;
	}
	
	.round {
		display: inline-block;
		width: 25px;
		height: 25px;
		border-radius: 100%;
		border: 2px solid @white;
		margin: 8px 0;
		text-align: center;		
		color: @white;
		font-size: 19px;
		line-height: 1.2;
		
		.rubl {
			margin: 0;
		}
	}
	
	&__sub-expand {
		text-decoration: none;
		color: @black;
	}
}

.check {

	&__input {
		display: none;
		
		&:checked + .check__label {
			font-weight: 700;
			
			&--square, &--circle {			
				font-weight: 400;

				&:after {
					display: block;
				}
			}
		}		
	}
	
	&__label {	
		color: @black;		
		font-size: 14px;
		position: relative;

		&--square, &--circle {
			padding-left: 37px;
			display: block;
			
			&:after, &:before {
				position: absolute;
				content: '';
				top: 50%;
			}
			
			&:before {				
				width: 22px;
				height: 22px;				
				border: 1px solid @grey18;				
				left: 0;
				margin-top: -11px;
			}
			
			&:after {
				display: none;
				background: url('../images/sprite.png') -893px 0px no-repeat;
				width: 16px;
				height: 14px;
				left: 5px;
				margin-top: -6px;
			}
		}
		
		&--circle {
			min-height: 50px;
			margin-bottom: 28px;
			
			&:before {				
				width: 17px;
				height: 17px;
				border-radius: 100%;				
				margin-top: -9px;
			}
			
			&:after {
				display: none;
				background: @grey18;
				border-radius: 100%;	
				width: 9px;
				height: 9px;
				left: 5px;
				margin-top: -4px;
			}
		}
	}
	
	&__wrap {
		&--small{
			display: inline-block;
			margin: 15px 0;
			
			.check__label {
				font-size: 12px;
			}
		}
		
		&--basket {
			display: inline-block;
			padding-left: 28px;
			margin: 15px 0;
			
			.check__label {
				text-transform: uppercase;
				text-align: left;
				font-size: 12px;
			}
			
			.black-link {
				display: inline;
			}
		}
	}
	
	&__text {
		display: inline-block;
		width: 66%;
		min-height: 50px;
		font-size: 12px;
	}
	
	&__title {
		display: inline-block;
		width: 100%;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 3px;
	}
	
	&__img {
		display: inline-block;
		width: 72px;
		height: 50px;
		border: 1px solid @grey23;
		border-radius: 4px;
		margin-right: 15px;
		overflow: hidden;
		text-align: center;
		
		&--pad1 {
			padding: 6px 0;
		}
		
		&--pad2 {
			padding: 8px 0;
		}
		
		&--pad3 {
			padding: 14px 0;
		}		
	}
	
}


.accordion {
	&__link {
		display: block;
		width: 100%;
		height: 44px;
		line-height: 44px;
		border-bottom: 1px solid @grey;
		padding-left: 21px;
		text-transform: uppercase;
		text-decoration: none;
		color: @black;
		font-size: 14px;
		font-weight: 600;
		
		&.active {
			background: @grey11;
			
			.accordion__icon {
				opacity: 1;
			}
		}
	}
	
	&__icon {	
		width: 19px;
		height: 11px;
		margin: 17px 9px 0 0;
		opacity: 0.15;
	}
	
	&__dropdown {
		display: none;
		padding: 0 0 40px 21px;
		border-bottom: 1px solid @grey;
		
		&--price {
			padding: 0 35px 40px 28px;
		}
	}
	
	&__item {
		&:first-child {
			border-top: 1px solid @grey;
		}
	}
}

.range {
	width: 100%;
	height: 10px;
	margin-top: 28px;
	padding-right: 22px;
	position: relative;
	background-color: @grey20;
	
	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 100%;
		bottom: 0;
		width: 22px;
		background-color: @grey20;
	}
}

.ui-slider-range {
	height: 10px;
	background-color: @grey20;
	width: 100% !important;
    position: absolute;
    top: 0;
    left: 0 !important;
}

.ui-slider-handle {	
	display: inline-block;
	position: absolute;
	top: -6px;
	width: 22px;
	height: 22px;
	background-color: @black1;
	z-index: 3;
}

.social {
	&__item{
		display: inline-block;
		width: 39px;
		height: 39px;
		border: 2px solid @white;
		border-radius: 100%;
		margin-right: 11px;
		text-align: center;
		
		&--vk {		
			padding-top: 6px;
		}
		
		&--fb {		
			padding-top: 2px;
		}
		
		&:last-child {
			margin-right: 0;
		}
	}
}
	
.share-social {
	text-align: center;
	padding: 17px 0;
	
	&__text {
		color: @grey25;
		font-size: 14px;
		text-transform: uppercase;
	}
	
	&__link {
		display: inline-block;
		vertical-align: middle;
		margin-left: 15px;		
	}
}

.tags {
	padding: 30px 12px;
	font-size: 14px;
	font-family: @defFont;
	
	&__text {
		display: inline-block;
		margin-left: 5px;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	&__link {
		display: inline-block;
		margin-left: 12px;
		text-decoration: none;
		color: @black;
		border-bottom: 1px solid @grey26;
	}
}

.heading-lev2 {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 25px 0;	
}

.carousel {
	width: 100%;
	background: @grey5;
	
	&__item {
		min-width: 320px;
		overflow: hidden;		
		text-align: center;
		text-transform: uppercase;
	}
	
	&__heading {
		color: @black;
		font-size: 27px;
		font-weight: 700;		
		padding: 0 12px;
		margin: 25px 0 20px;
	}
	
	&__description {
		color: @grey1;		
		font-size: 12px;
		font-weight: 700;
		margin-bottom: 25px;		
	}
	
	.input-btn {
		width: 140px;
		margin-bottom: 20px;
		background: @red1;
		display: inline-block;
		line-height: 38px;
		font-size: 12px;
		text-decoration: none;
	}
}

.owl-controls {
	background: #fff;
	height: 42px;
}

.nav-level2 {	
	.navigation__level2 {
		left: 0;
		z-index: 5;		
		opacity: 1;		
	}
	.navigation__level1 {
		left: 100%;
		opacity: 0;
	}
}

.nav-level3 {	
	.navigation__level3 {
		left: 0;
		z-index: 6;		
		opacity: 1;		
	}
	.navigation__level2 {
		left: 100%;
		opacity: 0;
	}	
}

.navigation {
	background: @white;
	border-top: 1px solid @grey;
	margin-bottom: 40px;
	font-size: 15px;	
	text-transform: uppercase;	
	
	&__link, &__link-menu {
		color: @black2;
		text-decoration: none;
	}
	
	&__link {
		display: block;
		width: 100%;
		border-bottom: 1px solid @grey;
		padding: 11px 12px;
		position: relative;		
	
		&--main {
			font-weight: 700;
			color: @black;
		}
		
		&--back {
			border-bottom: none;
			text-transform: none;	
			color: @grey10;
			font-family: @defFont;
			font-size: 18px;

		}
		
		&--small {
			text-transform: none;
			font-size: 14px;
			color: @black;
		}
		
		&.active {
			background-color: @red4;
			background-image: linear-gradient(to top, @red5 0%, @red5 100%);
			color: @white;
		}		
	}
	
	&__open-icon {
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		width: 20%;
		opacity: 0.3;
		padding-right: 12px;
		text-align: right;
		line-height: 3.3;		
	}
	
	&__back-text {
		display: inline-block;
		margin-left: 8px;
	}
	
	&__levels {
		position: relative;
		width: 100%;
		overflow: hidden;
	}
	&__level1 {
		left: 0;
		position: relative;
	}
	&__level2, &__level3 {
		position: absolute;
		top: 0;
		left: -100%;		
		display: block;		
		width: 100%;	
		height: auto;
		background: @white;
		float: left;
		opacity: 0;

	}
	&__level3 {
	
		.active {
			background: @grey11;
			color: @black3;
		}
	}
	
	&__level1, &__level2, &__level3 {		
		-moz-transition: all 300ms;
		-webkit-transition: all 300ms;
		transition: all 300ms;
	}
}

.hidden-block {
	display: none;
}

.deals {
	background: url('../images/deals.jpg') no-repeat;
	background-size: cover;
	padding: 25px 12px;
	margin-bottom: 30px;
	text-align: center;
	
	&__heading {
		color: @white;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;		
		margin-bottom: 10px;
	}
	
	.input {
		font-style: italic;
		font-size: 14px;
		width: 56%;
		height: 38px;
		margin-right: 11px;
	}
	
	.input-btn {
		width: 101px;
		font-size: 12px;
		text-transform: lowercase;
	}
}

.heading {
	position: relative;
	
	&:after, &:before {
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -3px;
		width: 5px;
		height: 5px;
		border-radius: 100%;
		background-color: @black;		
	}
	
	&:after {
		left: -16px;
	}
	
	&:before {
		right: -16px;
	}

}

.absolute-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.big-link {
	display: inline-block;
	margin: 0 auto;
	color: @grey8;
	font-family: @defFont;
	font-size: 14px;
	text-transform: uppercase;
}

.infoblock {	
	padding-bottom: 30px; 
	
	&__heading {
		margin-bottom: 18px;	
		color: @black;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}
	
	&__item {
		position: relative;
		margin-bottom: 25px;
	}
	
	&__img {
		overflow: hidden;
		
		img {
			object-fit: contain;
			min-width: 100%;
		}
	}
	
	&__description {
		background-color: @red2;
		background-image: linear-gradient(to top, @red3 0%, @red3 100%);
		padding: 10px 20px;
		margin-top: -5px;
		font-family: @defFont;
		font-size: 15px;
		color: @white1;
		
		&--white {
			background: @white;
			border-bottom: 1px solid @grey7;
			font-size: 12px;
			
			.infoblock__date {
				color: @grey6;				
			}
			
			.infoblock__text {				
				color: @black;
				font-family: @defFont;
				font-size: 12px;				
			}
		}
	}
	
	&__date {
		font-size: 13px;
		margin-bottom: 5px;
	}
	
	&__link {
		text-align: center;
	}
}

.form {
	&__label {
		color: @black5;		
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		
		&--block {
			display: block;
			width: 100%;
			padding: 7px 0;
			font-weight: 400;
			font-family: @defFont;
		}
	}
	
	&__input {
		width: 100%;
		height: 34px;		
		background-color: @white;
		border: 1px solid @grey18;
		padding: 0 10px;
		
		&::-webkit-input-placeholder {
			color: @grey22;
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
		}
		&::-moz-placeholder {
			color: @grey22;
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
		}/* Firefox 19+ */
		&:-moz-placeholder {
			color: @grey22;
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
		}/* Firefox 18- */
		&:-ms-input-placeholder {
			color: @grey22;
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
		}
		
		&--small {
			width: 47.4%;
		}
		
		&--phone-part1 {
			width: 21.3%;
			margin-right: 2.34%;
		}
		
		&--phone-part2 {
			width: 66%;
			float: right;
		}
		
		&--date {
			position: relative;
			
			&:after {
				position: absolute;
				content: '';
				right: 13px;
				top: 4px;
				background: url('../images/sprite.png') -973px 0px no-repeat;
				width: 23px;				
				height: 25px;
			}
		}
	}
	
	&__number {
		display: inline-block;
		width: 7.6%;
		height: 34px;
		line-height: 34px;
		color: @black;
		font-family: @defFont;
		font-size: 12px;
		text-transform: uppercase;
	}
	
	&__textarea {
		width: 100%;
		height: 94px;
		border: 1px solid @grey18;
		padding: 10px;
		resize: none;
	}
		
	&__element {
		margin-bottom: 15px;
		
		&--bottom {
			margin-top: 25px;
		}

		&--center {
			text-align: center;
		}
		
		&--marg {
			margin-bottom: 37px;
		}
		
		&--marg1 {
			margin-top: 45px;
		}
		&--btn {
			margin: 45px -11px 0;
			padding: 14px 11px 14px;
			background: @white;
			
			&.fixed {
				position: fixed;
				width: 100%;
				bottom: 0;
				margin: 0 0 0 -11px;
				z-index: 6;				
			}
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&__heading {
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		
		.check__wrap {
			display: inline-block;
			margin: 12px 0 7px;
			font-weight: 400;
		}
	}
	
	&__text {
		font-size: 14px;
		font-family: @defFont;
		line-height: 1.3;
	}
	
	&__social {
		display: inline-block;
		margin-left: 16px;
		vertical-align: middle;
	}
	
	&--filter {
		padding: 30px 0 0;
		margin: 0 -11px;		
	}
	
	&--filter-fixed {
		padding: 0 0 55px;
		margin: -15px -11px 0;
	}
	
	&--reg {
		.form__label--block {
			font-weight: 700;
		}
	}
}

.blue-link {
	color: @blue;
	font-family: @defFont;
	font-size: 14px;
	font-weight: 400;
}

.black-link {
	color: @black;
	display: inline-block;
	margin-left: 5px;
}

.rubl{
	font-style: normal;
	font-family: @rubl;
	margin-left: -5px;
	text-transform: none;
}

.promo {
	background: @grey24;
	padding: 11px;
	margin-bottom: 32px;
	
	&__heading {
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 11px;
	}
	
	.input {
		width: 58.4%;
		height: 38px;
		margin-right: 3%;
	}
	
	.input-btn {
		width: 37%;
		height: 39px;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.product_list {
	width: 100%;
	height: 491px;
	position: relative;
	
	&--catalog {
		height: auto;
		padding:12px 12px 0;		
	}
	
	&--detail {
		margin-bottom: 22px;
		height: auto;		
	}
	
	&--detail-carousel {
		height: 438px;
		margin-bottom: 15px;
		
		.slick-list {
			padding: 0;
			margin: 0;
		}
		.product-item {
			height: 438px;
		}
		
		.product-item__vendor-code {
			margin-bottom: 15px;
		}
		
		.product-item__title {
			font-size: 12px;
			font-weight: 400;
			margin-bottom: 25px;
		}
		
		.product-item__price {
			margin: 0 -11px;
		}
	}
}

.action {
	padding: 8px 0;
	background-color: @red;
	color: @white;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.slideprev, .slidenext {	
    display: block;    
    position: absolute;
    top: 50%;
    margin-top: -17px;
	z-index: 5;
    cursor: pointer;
}

.slideprev {
	left: 12px;
}

.slidenext {
	right: 12px;
}

.product-item {
	width: 212px !important;
	height: 491px;
	background-color: @white;
	border: 1px solid @grey7;
	margin: 0 auto;
	text-align: center;
	
	&__info {
		width: 100%;
		position: relative;
		padding: 0 46px;
	}
	
	
	&__img {	
		width: 100%;
		height: 212px;
		display: block;
		margin: 10px auto 13px;		
		position: relative;
		text-decoration: none;
		border-bottom: 2px solid @black1;
		
		img {
			position: absolute;
			display: block;
			width: 100%;
		}
	}
	
	&__vendor-code {		
		color: @grey9;
		font-family: @priceFont;
		font-size: 15px;
		margin-bottom: 6px;		
	}
	
	&__title {	
		color: @black;		
		font-size: 14px;
		font-weight: 700;
		height: 85px;
		margin-bottom: 6px;
	}
	
	&__price {		
		color: @red;
		font-family: @priceFont;
		font-size: 24px;
		font-weight: 700;
	}
	
	&__price-sale {
		color: @grey9;
		font-size: 20px;
		font-weight: 400;
		text-decoration: line-through;
		line-height: 0.8;
	}
	
	&__action {
		position: absolute;
		top: 12px;
		left: 12px;		
		width: 43px;
		height: 43px;
		background-color: @red;
		color: @white;
		font-family: @priceFont;
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		line-height: 43px;
		z-index: 5;
		border-radius: 100%;
	}
	
	.input-btn {
		display: inline-block;
		width: 132px;
		height: 44px;
		border-radius: 3px;	
		margin: 18px 0 0 -6px;		
		line-height: 44px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 12px;		
	}
	
	&__btn-count {
		text-align: left;
		margin-bottom: 6px;
	}
	
	&__btn {
		display: inline-block;		
		width: 32px;
		height: 32px;
		background-color: @red3;
		border-radius: 100%;
		position: relative;
		vertical-align: top;		

		&:after {
			position: absolute;
			content: '';
			top: 50%;
			margin-top: -2px;
			left: 8px;			
			width: 16px;
			height: 4px;
			background-color: @white;
		}
		
		&.plus:before {
			position: absolute;
			content: '';
			top: 8px;
			margin-left: -2px;
			left: 50%;			
			width: 4px;
			height: 16px;
			background-color: @white;
		}
	}
	
	&__count {
		margin-left: -2px;
		border: none;
		height: 32px;
		width: 42px;
		font-size: 24px;
		font-weight: 400;
		text-align: center;

	}
	
	&__extra {
		position: absolute;
		top: 12px;
		left: 12px;
		right: 12px;		
		height: auto;
		text-align: left;
		z-index: 5;
	}
	
	&__extra-description {
		display: inline-block;
		padding-left: 6px;
		font-weight: 700;
		font-family: @defFont;
		line-height: 0.8;
		text-transform: uppercase;		
	}
	
	&__extra-count {
		color: @black1;
		font-size: 18px;
	}
	
	&__extra-text {
		color: @grey9;
		font-size: 10px;
	}
	
	&--wide {
		width: 100% !important;
		height: auto;
		margin-bottom: 13px;
		border: 1px solid @grey12;
		
		.product-item__info {
			padding: 12px;			
		}
		
		.product-item__img,
		.product-item__descr {
			width: 50%;
			
		}
		
		.product-item__vendor-code,
		.product-item__title {
			text-align: left;
		}
		
		.product-item__img {
			margin: 0;
			border: none;
			
			img {
				height: 100%;
				object-fit: contain;
			}
		}
		
		.product-item__title {			
			color: @black;
			font-family: @defFont;
			font-size: 12px;
			font-weight: 400;
			margin-bottom: 14px;			
			overflow: hidden;			
		}
		
		.product-item__vendor-code {
			margin-bottom: 10px;
		}
		
		.product-item__price {
			color: @black;			
			font-weight: 600;
		}
		
		.product-item__price-sale {
			text-decoration: none;
			margin-top: 4px;
			
			span {
				position: relative;
				
				&:after {
					position: absolute;
					content: '';
					top: 50%;
					left: 0;
					margin-top: 1px;
					width: 100%;
					height: 2px;
					background-color: @black;
				}
			}
		}
		
		.input-btn {
			margin: 12px 0 0 0;
		}		
	}
	
	&--detail {
		border: none;
		
		.product-item__img, .product-item__descr {
			width: 100%;			
		}		
		
		.product-item__vendor-code, .product-item__btn-count {
			text-align: center;
		}
		
		.product-item__img {
			height: 240px;
			margin-bottom: 5px;
		}
		
		.product-item__vendor-code {
			margin-bottom: 3px;
		}
		
		.product-item__price-sale {
			margin-top: 0;
		}
		
		.product-item__btn-count {
			margin: 20px 0 0;
		}
		
		.input-btn {
			margin-top: 10px;
		}
	}
}

.basket {
	&__total {
		color: @grey1;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 32px;
	}
	
	.product-item--wide {
		border: none;
	}
	
	.product-item__title {
		font-size: 14px;
		margin-bottom: 6px;
	}
	
	.product-item__vendor-code {
		margin-bottom: 7px;
	}
	
	.product-item__img img {
		width: 72%;
	}
	
	.product-item__price {
		text-align: left;
	}
}

.added {
	background-color: @grey13;
}

.help-block {
	margin-top: 10px;
	
	&.form-error {
		color: @black4;
		font-weight: 700;
	}
}

.left {
	float: left;
}

.right {
	float: right;
}



#popup {	
	position: fixed;
	top: 0;
	left: -100%;		
	min-width: 100%;
	min-height: 100vh;
	background: @white;
	z-index: 101;	
	-moz-transition: all 500ms;
	-webkit-transition: all 500ms;
	transition: all 500ms;
}

.open-popup #popup {	
	left: 0;
}

#popup {
	.header {
		&__item {
			width: 29%;
			max-height: 56px;
			border-bottom: none;
		}
		
		&__links {
			height: 56px;
		}
		
		&__bottom {
			min-height: 56px;
			height: auto;
		}
		
		&__time {
			position: relative;
			border-top: 1px solid @grey;
		}
	}

	.navigation {
		font-family: @baseFont;
	}
}