.sprite { background: url('../images/sprite.png') no-repeat top left; display: inline-block;  }
.sprite.a1 { background-position: 0px 0px; width: 179px; height: 26px;  } 
.sprite.a2 { background-position: -189px 0px; width: 18px; height: 21px;  } 
.sprite.a3 { background-position: -217px 0px; width: 21px; height: 21px;  } 
.sprite.a4 { background-position: -248px 0px; width: 20px; height: 20px;  } 
.sprite.a5 { background-position: -278px 0px; width: 24px; height: 20px;  } 
.sprite.a6 { background-position: -312px 0px; width: 19px; height: 22px;  } 
.sprite.a7 { background-position: -341px 0px; width: 13px; height: 22px;  } 
.sprite.a8 { background-position: -364px 0px; width: 21px; height: 34px;  } 
.sprite.a9 { background-position: -395px 0px; width: 20px; height: 34px;  } 
.sprite.a10 { background-position: -425px 0px; width: 10px; height: 18px;  } 
.sprite.a11 { background-position: -445px 0px; width: 22px; height: 22px;  } 
.sprite.a12 { background-position: -477px 0px; width: 26px; height: 26px;  } 
.sprite.a13 { background-position: -513px 0px; width: 8px; height: 11px;  } 
.sprite.a14 { background-position: -531px 0px; width: 22px; height: 22px;  } 
.sprite.a15 { background-position: -563px 0px; width: 12px; height: 26px; top: 2px; position: relative;  }
.sprite.a16 { background-position: -585px 0px; width: 16px; height: 17px;  } 
.sprite.a17 { background-position: -611px 0px; width: 17px; height: 16px;  } 
.sprite.a18 { background-position: -638px 0px; width: 18px; height: 10px;  } 
.sprite.a19 { background-position: -666px 0px; width: 10px; height: 6px;  } 
.sprite.a20 { background-position: -686px 0px; width: 10px; height: 6px;  } 
.sprite.a21 { background-position: -706px 0px; width: 9px; height: 20px;  } 
.sprite.a22 { background-position: -725px 0px; width: 20px; height: 20px;  } 
.sprite.a23 { background-position: -755px 0px; width: 20px; height: 16px;  } 
.sprite.a24 { background-position: -785px 0px; width: 24px; height: 24px;  } 
.sprite.a25 { background-position: -819px 0px; width: 27px; height: 32px;  } 
.sprite.a26 { background-position: -856px 0px; width: 27px; height: 32px;  } 
.sprite.a27 { background-position: -893px 0px; width: 16px; height: 14px;  } 
.sprite.a28 { background-position: -919px 0px; width: 17px; height: 16px;  } 
.sprite.a29 { background-position: -946px 0px; width: 17px; height: 4px;  } 
.sprite.a30 { background-position: -973px 0px; width: 23px; height: 25px;  } 
.sprite.a31 { background-position: -1006px 0px; width: 27px; height: 26px;  } 
.sprite.a32 { background-position: -1043px 0px; width: 18px; height: 14px;  } 
.sprite.a33 { background-position: -1071px 0px; width: 29px; height: 24px;  } 
.sprite.a34 { background-position: -1110px 0px; width: 12px; height: 29px;  } 
.sprite.a35 { background-position: -1132px 0px; width: 25px; height: 25px;  } 
.sprite.a36 { background-position: -1167px 0px; width: 20px; height: 26px;  } 
.sprite.a37 { background-position: -1197px 0px; width: 21px; height: 26px;  } 
.sprite.a38 { background-position: -1228px 0px; width: 19px; height: 11px;  } 
.sprite.a39 { background-position: -1257px 0px; width: 23px; height: 29px;  } 
.sprite.a40 { background-position: -1290px 0px; width: 14px; height: 23px;  } 
.sprite.a42 { background-position: -1314px 0px; width: 27px; height: 25px;  } 
.sprite.a43 { background-position: -1351px 0px; width: 18px; height: 28px;  } 
.sprite.a41 { background-position: -1379px 0px; width: 31px; height: 32px;  } 
.sprite.a44 { background-position: -1420px 0px; width: 31px; height: 25px;  } 
.sprite.a45 { background-position: -1461px 0px; width: 21px; height: 27px;  } 
.sprite.a46 { background-position: -1492px 0px; width: 21px; height: 26px;  } 
