//- fonts

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf')  format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),  url('../fonts/SegoeUI.woff') format('woff'), url('../fonts/SegoeUI.ttf')  format('truetype'), url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Rubl';
    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rouble-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@defFont: 'Arial', 'Helvetica', sans-serif;
@rubl : 'Rubl';
@baseFont : 'OpenSans';
@priceFont : 'SegoeUI';

//- background colors


//- sizes

@header-height: 80px;
@footer-height: 70px;
@header-min-height: 50px;

//- font colors

@white: #fff;
@white1: #fefefe;

@black: #000;
@black1: #263238;
@black2: #333;
@black3: #010000;
@black4: #0e0203;
@black5: #29343a;
@black6: #3c474c;

@red: #a80204;
@red1: #d42023;
@red2: #5b0304;
@red3: #4f070b;
@red4: #636363;
@red5: #a3090d;

@grey: #f4f4f4;
@grey1: #263238;
@grey2: #4f585d;
@grey3: #e8e8e8;
@grey4: #607d8b;
@grey5: #eff2f3;
@grey6: #484848;
@grey6: #484848;
@grey7: #babec0;
@grey8: #8c8c8c;
@grey9: #999898;
@grey10: #363535;
@grey11: #e5e5e5;
@grey12: #f6f3f9;
@grey13: #a7a7a7;
@grey14: #b7bbc2;
@grey15: #ececec;
@grey16: #d3d3d3;
@grey17: #92979a;
@grey18: #e3e3e3;
@grey19: #f2f2f2;
@grey20: #808080;
@grey21: #cfd8dc;
@grey22: #bebebe;
@grey23: #bfc0c5;
@grey24: #f9f9f9;
@grey25: #a2a2a2;
@grey26: #959595;
@grey27: #7f7f7f;
@grey28: #f6f3fa;

@blue: #036eb9;

