- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content				
				h1.heading-big.heading-big--marg1
					|Корзина
				
				.basket
					ul.product_list.product_list--catalog
						li
							.product-item.product-item--wide
								.product-item__info.clearfix
									.product-item__img.left
										img(src="images/content/img1.jpg" alt="")
									.product-item__descr.left
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text
											|Agricola San Felice Brunello di Montalcino Riserva DOCG Il Quercione Campogiovanni 2006
										.product-item__btn-count
											a.product-item__btn.c-minus(href="" title="")
											input.product-item__count(type="number" value="1"  min="" max="" step="")
											a.product-item__btn.plus.c-plus(href="" title="")
										.product-item__price
											|1 000 609 <i class="rubl">a</i>
						
						li
							.product-item.product-item--wide
								.product-item__info.clearfix
									.product-item__img.left
										img(src="images/content/img1.jpg" alt="")
									.product-item__descr.left
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text
											|Бенриах Харт оф Спейсайд
										.product-item__btn-count
											a.product-item__btn.c-minus(href="" title="")
											input.product-item__count(type="number" value="16" min="" max="" step="")
											a.product-item__btn.plus.c-plus(href="" title="")
										.product-item__price
											|3 609 <i class="rubl">a</i>
											
											
					.promo
						.promo__heading= "Номер карты клиента"
						form(method="" action="")
							input.input(type="text" placeholder="PROMO")
							input.input-btn(type="submit" value="Применить")
					.basket__total
						|Сумма заказа: 
						|3 609	<i class="rubl">a</i>
						br
						|Скидка: 1%: 
						|(30 <i class="rubl">a</i>)
				.tabs.tabs--simple.c-tabs
					.tabs__head.clearfix
						a.tabs__link.left.c-tabs-link(href="" title="")
							span= "Вход"
							
						a.tabs__link.right.c-tabs-link.active(href="" title="")
							span= "Без регистрации"
							
					.tabs__content
						.tabs__item.c-tabs-content
							form.form(method="" action="")
								.form__element
									label.form__label.form__label--block= "Email"
									input.form__input(type="email"  data-validation="email")
									
								.form__element
									label.form__label.form__label--block= "Пароль"
									input.form__input(type="password" data-validation="required")
									
								.form__element
									a.blue-link(href="" title="")= "Забыли пароль"
								.form__element.form__element--botom
									input.input-btn.input-btn--login(type="submit" value="Войти")
									span.form__social= "или"
									a.sprite.a21.form__social(href="" title="")
									a.sprite.a22.form__social(href="" title="")
									a.sprite.a23.form__social(href="" title="")
									a.sprite.a24.form__social(href="" title="")
						.tabs__item.c-tabs-content.active
							form.form.form--reg(method="" action="")
								.form__element.form__text
									Сотрудник колл-центра перезвонит вам для уточнения всех данных
								
								.form__heading.form__element									
									.check__wrap
										input#age18.check__input(type="checkbox" value="age" name="age" checked data-validation="required")
										label.check__label.check__label--square(for="age18")= 'Мне больше 18 лет'
									
								.form__element
									label.form__label.form__label--block= "Фамилия"
									input.form__input(type="text" data-validation="required")
									
								.form__element
									label.form__label.form__label--block= "Имя"
									input.form__input(type="text" data-validation="required")									
								
								.form__element
									label.form__label.form__label--block= "Контактный тедефон"
									span.form__number= "+7"
									input.form__input.form__input--phone-part1(type="text" data-validation="length number required" data-validation-length="3")
									input.form__input.form__input--phone-part2(type="text" data-validation="length number required" data-validation-length="8")
								
								.form__element.form__element--center
									.check__wrap.check__wrap--basket
										input#yes.check__input(type="checkbox" value="termsUse" name="termsUse" checked data-validation="required")
										label.check__label.check__label--square(for="yes")
											|Принимаю
											a.black-link(href="" title="")= "пользовательсоке соглашение"
								.form__heading.form__element
									|Способы оплаты
								
								.form__element
									.check__wrap.clearfix
										input#payment1.check__input(type="radio" value="payment1" name="payment" checked)
										label.check__label.check__label--circle(for="payment1")
											span.check__img.check__img--pad1.left
												img(src="images/content/money.png" alt="")
											span.check__text.left
												span.check__title= "наличные"
												span.check__descr= "Оплата наличными при получении"
												
									.check__wrap.clearfix
										input#payment2.check__input(type="radio" value="payment2" name="payment" checked)
										label.check__label.check__label--circle(for="payment2")
											span.check__img.check__img--pad2.left
												img(src="images/content/rubl.png" alt="")
											span.check__text.left
												span.check__title= "Безналичный расчет"
												span.check__descr= "100% предоплата на банковский счет"

									.check__wrap.clearfix
										input#payment3.check__input(type="radio" value="payment3" name="payment" checked)
										label.check__label.check__label--circle(for="payment3")
											span.check__img.check__img--pad3.left
												img(src="images/content/visa.png" alt="")
											span.check__text.left
												span.check__title= "Банковская карта"
												span.check__descr= "Оплата банковской картой"

									.check__wrap.clearfix
										input#payment4.check__input(type="radio" value="payment4" name="payment" checked)
										label.check__label.check__label--circle(for="payment4")
											span.check__img.check__img--pad2.left
												img(src="images/content/wm.png" alt="")
											span.check__text.left
												span.check__title= "WebMoney R"
												span.check__descr= "100% предоплата на электронный счет"

									.check__wrap.clearfix
										input#payment5.check__input(type="radio" value="payment5" name="payment" checked)
										label.check__label.check__label--circle(for="payment5")
											span.check__img.check__img--pad1.left
												img(src="images/content/yam.png" alt="")
											span.check__text.left
												span.check__title= "Яндекс.Деньги"
												span.check__descr= "100% предоплата на электронный счет"
								.form__element.form__element--marg
									label.form__label.form__label--block= "Комментарий"
									input.form__textarea(type="text")
									
								.form__element.form__element--center
									input.input-btn.input-btn--reg(type="submit" value="Оформить заказ")
									
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade