- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Главная"
						span.breadcrumbs__delimiter= "/"
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Виски"
						span.breadcrumbs__delimiter= "/"
					li.breadcrumbs__item					
						| Макаллан
				
				h1.heading-big
					|Макаллан
					.heading-big__subtitle= "Magallan"
				.c-content-catalog-wrap
					.tabs.c-tabs
						.tabs__head.clearfix.c-fixed
							a.tabs__link.left.c-tabs-link.c-filter-catalog(href="" title="")
								span.filter-text= "Фильтр"
								span.filter-icon.right.sprite.a16
							.tabs__link.left.c-tabs-link(href="" title="")
								span.sort-text= "Сортировка"
								span.sort-icon.right.sprite.a17
						.tabs__content
							.tabs__item.filter.c-tabs-content.c-filter-wrapper
								.filter__category.clearfix.c-fixed
									<!--Бренды-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#brands" title="")
										span.sprite.a34
										
									<!--Цена-->	
									a.filter__category-item.left.c-category.filter__category-item--pad1(href="#price" title="")
										span.sprite.a36
										
									<!--Регион-->	
									a.filter__category-item.filter__category-item--pad3.c-category(href="#region" title="")
										span.sprite.a39
										
									<!--Объём-->	
									a.filter__category-item.filter__category-item--pad1.c-category(href="#amount" title="")
										span.sprite.a35
										
									<!--Выдержка-->	
									a.filter__category-item.filter__category-item--pad1.c-category(href="#excerpt" title="")
										span.sprite.a33
									

									<!--Тип(виски)-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#type-whisky" title="")
										span.sprite.a37
									
									<!--Тип (вино)-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#type-cognac" title="")
										span.sprite.a40
										
									<!--Класс(коньяк)-->
									a.filter__category-item.filter__category-item--pad2.c-category(href="#class-cognac" title="")
										span.sprite.a41

									<!--Популярные категории-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#popular" title="")
										span.sprite.a42

									<!--Цвет-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#color" title="")
										span.sprite.a43

									<!--Содержание сахара-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#sugar" title="")
										span.sprite.a44
										
									<!--Тип напитка-->
									a.filter__category-item.filter__category-item--pad1.c-category(href="#type-drink" title="")
										span.sprite.a45
									
										
								form#filter-catalog.form.form--filter.c-filter(method="" action="ajax/catalog.html" data-url="ajax/filter.html")
									.accordion.c-accordion
										.accordion__item
											a.accordion__link.c-accordion-link(href="" title="" name="brands")
												|Бренды
												.accordion__icon.right.sprite.a38
											.accordion__dropdown.clearfix.c-accordion-drop.c-filter-block.c-filter-section(data-filter-name="iblock_brands_id")
												ul
													li.filter__element.level-1
														input#brands1.check__input.check__filter-field(type="checkbox" value="brands1" name="brands")
														label.check__label(for="brands1")
															Аберлауэр
															span= " (21)"
														
													li.filter__element.level-1
														input#brands2.check__input.check__filter-field(type="checkbox" value="brands2" name="brands")
														label.check__label(for="brands2")= 'Аберфелди'
														
													li.filter__element.level-1
														input#brands3.check__input.check__filter-field(type="checkbox" value="brands3" name="brands")
														label.check__label(for="brands3")= 'Айл оф Джура'
														
													li.filter__element.level-1
														input#brands4.check__input.check__filter-field(type="checkbox" value="brands4" name="brands")
														label.check__label(for="brands4")= 'Антиквари'
														
													li.filter__element.level-1
														input#brands5.check__input.check__filter-field(type="checkbox" value="brands5" name="brands")
														label.check__label(for="brands5")= 'Ардбег'
														
													li.filter__element.level-1.hidden.c-filter-hidden
														input#brands6.check__input.check__filter-field(type="checkbox" value="brands6" name="brands")
														label.check__label(for="brands6")= 'Скрытый 1'

													li.filter__element.level-1.hidden.c-filter-hidden
														input#brands7.check__input.check__filter-field(type="checkbox" value="brands7" name="brands")
														label.check__label(for="brands7")= 'Скрытый 2'	
														
													li.filter__element
														a.filter__add-link.c-filter-add(href="" title="")
															span.plus= "+"
															span.minus= "-"
															|Ещё
											
										.accordion__item
											a.accordion__link.c-accordion-link(href="" title="" name="price")
												|Цена
												.accordion__icon.right.sprite.a38
											.accordion__dropdown.accordion__dropdown--price.clearfix.c-accordion-drop.c-filter-block.c-filter-section(data-filter-name="iblock_price_id")
												ul
													li.filter__element.level-1
														input#price1.check__input.check__filter-range(type="checkbox" value="price1" name="price" data-from="0" data-to="100000")
														label.check__label(for="price1")
															|Любая цена
															
													li.filter__element.level-1
														input#price2.check__input.check__filter-range(type="checkbox" value="price2" name="price" data-from="0" data-to="1000")
														label.check__label(for="price2")= 'до 1000'
														
												.filter__input-wrap.clearfix
													input#minPrice.filter__input.c-minPrice.left(type="text")
													hr.filter__input-del.left
													input#maxPrice.filter__input.c-maxPrice.right(type="text")
												#price-slider.range(data-min="0" data-max="1000" data-min-limit="0.00" data-max-limit="1000")
											
										.accordion__item
											a.accordion__link.c-accordion-link(href="" title="" name="region")
												|Регион
												.accordion__icon.right.sprite.a38
											.accordion__dropdown.clearfix.c-accordion-drop.c-filter-block.c-filter-section(data-filter-name="iblock_region_id")
												ul
													li.filter__element.level-1
														input#region1.check__input.check__filter-field(type="checkbox" value="region1" name="region")
														label.check__label(for="region1")
															Шотландия
															span= " (21)"
														
													li.filter__element.level-1
														input#region2.check__input.check__filter-field(type="checkbox" value="region2" name="region")
														label.check__label(for="region2")= 'Ирландия'
														
													li.filter__element.level-1
														a.filter__sub-expand(href="" title="" data-expand-id="")
															|[+]
														input#region3.check__input.check__filter-field.check__filter-field-parent(type="checkbox" value="region3" name="region")
														label.check__label(for="region3")= 'США'
														ul												
															li.filter__element.level-2.hidden
																input#region6.check__input.check__filter-field(type="checkbox" value="region6" name="region")
																label.check__label(for="region6")= 'Кентуки'

															li.filter__element.level-2.hidden
																input#region7.check__input.check__filter-field(type="checkbox" value="region7" name="region")
																label.check__label(for="region7")= ' Не Кентуки'
														
													li.filter__element.level-1
														input#region4.check__input.check__filter-field(type="checkbox" value="region4" name="region")
														label.check__label(for="region4")= 'Япония'
														
													li.filter__element.level-1.hidden.c-filter-hidden
														input#region5.check__input.check__filter-field(type="checkbox" value="region5" name="region5")
														label.check__label(for="region5")= 'Скрытый регион'
														
													li.filter__element
														a.filter__add-link.c-filter-add(href="" title="")
															span.plus= "+"
															span.minus= "-"
															|Ещё
										
										.accordion__item
											a.accordion__link.c-accordion-link(href="" title="" name="amount")
												|Объём
												.accordion__icon.right.sprite.a38
											.accordion__dropdown.clearfix.c-accordion-drop.c-filter-block.c-filter-section(data-filter-name="iblock_amount_id")
												ul
													li.filter__element.level-1
														input#amount1.check__input.check__filter-field.check__filter-any-field(type="checkbox" value="amount1" name="amount")
														label.check__label(for="amount1")
															|Любой объём
															
													li.filter__element.level-1
														input#amount2.check__input.check__filter-field(type="checkbox" value="amount2" name="amount")
														label.check__label(for="amount2")= '1'
														
													li.filter__element.level-1
														input#amount3.check__input.check__filter-field(type="checkbox" value="amount3" name="amount")
														label.check__label(for="amount3")= '4.5'	
											
										.accordion__item
											a.accordion__link.c-accordion-link(href="" title="" name="excerpt")
												|Выдержка
												.accordion__icon.right.sprite.a38
											.accordion__dropdown.clearfix.c-accordion-drop.c-filter-block.c-filter-section(data-filter-name="iblock_excerpt_id")

									.filter__min-block.filter__min-block--left.c-filter-section(data-filter-name="iblock_packaging_id")
										.check__wrap
											input#yes.check__input.check__filter-field(type="checkbox" value="yes" name="packaging")
											label.check__label.check__label--square(for="yes")= 'Подарочная упаковка'
										
									.filter__min-block.filter__min-block--right.c-filter-section(data-filter-name="iblock_shop_id")
										.check__wrap
											input#y.check__input.check__filter-field(type="checkbox" value="y" name="shop")
											label.check__label.check__label--square(for="y")= 'В магазине'
									
									.filter__btn-wrap.c-fixed
										input.filter__btn(type="submit" value="Применить")
										input.filter__btn.filter__btn--grey(type="reset" value="Очистить")
										
							.tabs__item.c-tabs-content
								form.form.form--sort(method="" action="")
									label.form__label
										|Сортировать
									button.btn-sort.right.c-sort-btn(type="button")
									select.c-select
										option= "Цена"
										option= "Страна"
										option= "Бренд"								
					ul.product_list.product_list--catalog.c-hidden
						li
							.product-item.product-item--wide
								.product-item__info.clearfix
									.product-item__img.left
										img(src="images/content/img1.jpg" alt="")
									.product-item__descr.left
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text
											|Agricola San Felice Brunello di Montalcino Riserva DOCG Il Quercione Campogiovanni 2006
										.product-item__price
											|1 000 609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													| 3700 <i class="rubl">a</i>
													
										a.input-btn.added(href="" title="")= "В корзине"
						
						li
							.product-item.product-item--wide
								.product-item__info.clearfix
									.product-item__action
										|%
									.product-item__img.left
										img(src="images/content/img1.jpg" alt="")
									.product-item__descr.left
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text
											|Адз. Агр. и Стефанини ди Тессари Франческо и Луиза
										.product-item__price
											|3609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													|3700 <i class="rubl">a</i>
													
										a.input-btn(href="" title="")= "В корзину"
										
						li
							.product-item.product-item--wide
								.product-item__info.clearfix
									.product-item__img.left
										img(src="images/content/img1.jpg" alt="")
									.product-item__descr.left
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text
											|Торрес Сангре де Торо Каталонияа 2013 Красное сухое + Торрес Винья Соль Каталония 2014 Белое сухое
										.product-item__price
											|3609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													|3700 <i class="rubl">a</i>
													
										a.input-btn(href="" title="")= "В корзину"
					
						span.input-btn.input-btn--big= "Показать еще"
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade