- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Главная"
						span.breadcrumbs__delimiter= "/"
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Виски"
						span.breadcrumbs__delimiter= "/"	
					li.breadcrumbs__item					
						|Конка д`Оро Конельяно Вальдобьядене Просекко Супериоре Миллезимато Экстра Драй 2012
				
				h1.heading-big.heading-big--detail
					|Конка д`Оро Конельяно Вальдобьядене Просекко Супериоре Миллезимато Экстра Драй 2012
					.heading-big__subtitle= "Конка д`Оро Конельяно Вальдобьядене Просекко Супериоре Миллезимато Экстра Драй 2012"
				
				ul.product_list.product_list--detail
					li
						.product-item.product-item--wide.product-item--detail
							.product-item__info.clearfix
								.product-item__extra
									span.sprite.a31
									span.product-item__extra-description
										span.product-item__extra-count= "5000"
										br
										span.product-item__extra-text= "баллов"
								.product-item__img
									img(src="images/content/img1.jpg" alt="")
								.product-item__descr
									.product-item__vendor-code= "Артикул 05-983"									
									
									.product-item__price
										|3 609 <i class="rubl">a</i>
										.product-item__price-sale
											span
												| 3700 <i class="rubl">a</i>
									
									.product-item__btn-count
										a.product-item__btn.c-minus(href="" title="")
										input.product-item__count(type="number" value="1"  min="" max="" step="")
										a.product-item__btn.plus.c-plus(href="" title="")
									
									a.input-btn(href="" title="")= "В корзинy"	
				.action
					|Акция!
					br
					|Второй бокал в подарок
					
				.share-social
					span.share-social__text= "Поделиться"
					a.share-social__link.sprite.a21(href="" title="")
					a.share-social__link.sprite.a22(href="" title="")
					a.share-social__link.sprite.a23(href="" title="")
					a.share-social__link.sprite.a24(href="" title="")
					
				.tabs.tabs--simple.tabs--detail.c-tabs
					.tabs__head.clearfix
						a.tabs__link.left.c-tabs-link.active(href="" title="")
							span= "Характеристики"
							
						a.tabs__link.right.c-tabs-link(href="" title="")
							span= "Описание"
							
					.tabs__content
						.tabs__item.c-tabs-content.active
							p= "Код товара: 05-922"
							p= "Регион: Шотландия"
							p= "Объем: 0.7 л"
							p= "Крепость: 40"							
							p= "Выдержка: не менее 15 - 18 лет"
							p= "Упаковка: Подарочная"
						.tabs__item.c-tabs-content

				.tags
					span.sprite.a32
					span.tags__text= "Теги"
					a.tags__link(href="" title="")= "Шотландия"
					a.tags__link(href="" title="")= "0.7"
					
				h2.heading-lev2= "Рекомендуем"

				.infoblock					
					.product-wrapper
						ul.product_list.product_list--detail-carousel.c-product
							li
								.product-item
									.product-item__info
										.product-item__img
											img(src="images/content/img1.jpg" alt="")
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text= "Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд"
										.product-item__price
											|1 000 609 <i class="rubl">a</i>											
							li
								.product-item
									.product-item__info
										.product-item__img
											img(src="images/content/img4.jpg" alt="")
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text= "Бенриах Харт оф Спейсайд"
										.product-item__price
											|3609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													|3700 <i class="rubl">a</i>
							li
								.product-item
									.product-item__info
										.product-item__img
											img(src="images/content/img1.jpg" alt="")
										.product-item__vendor-code= "05-984"
										.product-item__title.c-limited-text= "Название товара"
										.product-item__price
											|1 000 609 <i class="rubl">a</i>
											
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade