- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content
				.carousel.c-carousel
					.carousel__item
						.carousel__heading
							|Летние скидки
							br
							|до 40%
						.carousel__description= "НА ВСЕ ВИНА ФРАНЦИИ И ИТАЛИИ"
						a.input-btn(href="" title="")= "Подробнее"
					.carousel__item
						.carousel__heading
							|Летние скидки
							br
							|до 30%
						.carousel__description= "НА ВСЕ ВИНА ФРАНЦИИ И ИТАЛИИ"
						a.input-btn(href="" title="")= "Подробнее"
					.carousel__item
						.carousel__heading= "Летние скидки до 20%"
						.carousel__description= "НА ВСЕ ВИНА ФРАНЦИИ И ИТАЛИИ"
				
				nav.navigation
					.navigation__levels.c-levels
					
						.navigation__level1				
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Виски"
								span.navigation__open-icon.c-level1(data-type="whiskey")
									span.sprite.a7
							
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Коньяк"
								span.navigation__open-icon.c-level1(data-type="cognac")
									span.sprite.a7
									
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Шампаское"
								span.navigation__open-icon.c-level1(data-type="champagne")
									span.sprite.a7
									
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Вино"
								span.navigation__open-icon.c-level1(data-type="wine")
									span.sprite.a7
									
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Крепкие напитки"
								span.navigation__open-icon.c-level1(data-type="strong")
									span.sprite.a7
									
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Другие напитки"
								span.navigation__open-icon.c-level1(data-type="other")
									span.sprite.a7
									
							.navigation__link.navigation__link--main
								a.navigation__link-menu(href="" title="")= "Аксессуары"
								span.navigation__open-icon.c-level1(data-type="accessories")
									span.sprite.a7
									
						.navigation__level2.c-bl-level2
							.navigation__link.navigation__link--back.c-to-level1
								span.navigation__back.sprite.a13
								span.navigation__back.sprite.a13
								span.navigation__back-text= "Назад"
								
							#whiskey.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Виски
								.navigation__link.navigation__link--main.c-level2(data-type="whiskey-brands")
									|Бренды
									span.navigation__open-icon
										span.sprite.a7
										
								.navigation__link.navigation__link--main.c-level2(data-type="whiskey-excerpt")
									|Выдержка
									span.navigation__open-icon
										span.sprite.a7
									
								.navigation__link.navigation__link--main.c-level2(data-type="whiskey-region")
									|Регион
									span.navigation__open-icon
										span.sprite.a7
									
								.navigation__link.navigation__link--main.c-level2(data-type="whiskey-type")
									|Тип
									span.navigation__open-icon
										span.sprite.a7
									
								.navigation__link.navigation__link--main.c-level2(data-type="whiskey-price")
									|Цена
									span.navigation__open-icon
										span.sprite.a7
							
							#cognac.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Коньяк
								.navigation__link.navigation__link--main.c-level2(data-type="cognac-brands")
									|Бренды
									span.navigation__open-icon
										span.sprite.a7
									
								.navigation__link.navigation__link--main.c-level2
									|Выдержка
									span.navigation__open-icon
										span.sprite.a7
									
								.navigation__link.navigation__link--main.c-level2
									|Регион
									span.navigation__open-icon
										span.sprite.a7
							
							#champagne.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Шампанское
								.navigation__link.navigation__link--main.c-level2
									|Бренды
									span.navigation__open-icon
										span.sprite.a7
							
							#wine.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Вино
								.navigation__link.navigation__link--main.c-level2
									|Бренды
									span.navigation__open-icon
										span.sprite.a7
							
							#strong.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Крепкие напитки
								.navigation__link.navigation__link--main.c-level2
									|Бренды
									span.navigation__open-icon
										span.sprite.a7
							
							#other.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Другие напитки
								.navigation__link.navigation__link--main.c-level2
									|Бренды
									span.navigation__open-icon
										span.sprite.a7
									
							#accessories.hidden-block.c-hidden-menu
								.navigation__link.navigation__link--main.active
									|Аксессуары
										
								
						.navigation__level3.c-bl-level3
							.navigation__link.navigation__link--back.c-to-level2
								span.navigation__back.sprite.a13
								span.navigation__back.sprite.a13
								span.navigation__back-text= "Назад"
								
							#whiskey-brands.hidden-block.c-hidden-menu-l3
									.navigation__link.navigation__link--main.active
										|Бренды
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд1"
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд2"
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд3"
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд4"

							#whiskey-excerpt.hidden-block.c-hidden-menu-l3
									.navigation__link.navigation__link--main.active
										|Выдержка
									a.navigation__link.navigation__link--small(href="" title="")= "Выдержка1"
									a.navigation__link.navigation__link--small(href="" title="")= "Выдержка2"
									a.navigation__link.navigation__link--small(href="" title="")= "Выдержка3"
									a.navigation__link.navigation__link--small(href="" title="")= "Выдержка4"		
							
							#whiskey-region.hidden-block.c-hidden-menu-l3
									.navigation__link.navigation__link--main.active
										|Регион
									a.navigation__link.navigation__link--small(href="" title="")= "1"
									a.navigation__link.navigation__link--small(href="" title="")= "2"
									a.navigation__link.navigation__link--small(href="" title="")= "3"
									
							#whiskey-type.hidden-block.c-hidden-menu-l3
									.navigation__link.navigation__link--main.active
										|Тип
									a.navigation__link.navigation__link--small(href="" title="")= "Тип1"
									a.navigation__link.navigation__link--small(href="" title="")= "Тип2"
									a.navigation__link.navigation__link--small(href="" title="")= "Тип3"
							
							#whiskey-price.hidden-block.c-hidden-menu-l3
									.navigation__link.navigation__link--main.active
										|Цена
									a.navigation__link.navigation__link--small(href="" title="")= "Тип1"
									a.navigation__link.navigation__link--small(href="" title="")= "Тип2"
									a.navigation__link.navigation__link--small(href="" title="")= "Тип3"		
													
							#cognac-brands.hidden-block.c-hidden-menu-l3
									.navigation__link.navigation__link--main.active
										|Бренды
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд1"
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд2"
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд3"
									a.navigation__link.navigation__link--small(href="" title="")= "Бренд4"	
					a.navigation__link(href="" title="")= "Акции"
					
				.deals
					.deals__heading= "Будь в курсе спецпредложений"
					form(method="" action="")
						input.input(type="email" placeholder="Ваш email" data-validation="email")
						input.input-btn(type="submit" value="Подписаться")
						
				.infoblock
					.infoblock__heading
						span.heading= "Хиты"
					.product-wrapper
						ul.product_list.c-product
							li
								.product-item
									.product-item__info
										.product-item__img
											img(src="images/content/img1.jpg" alt="")
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text1= "Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд Бенриах Харт оф СпейсайдБенриах Харт оф СпейсайдБенриах Харт оф Спейсайд Бенриах Харт оф Спейсайд"
										.product-item__price
											|3609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													|3700 <i class="rubl">a</i>
													
										a.input-btn(href="" title="")= "В корзину"
							
							li
								.product-item
									.product-item__info
										.product-item__img
											img(src="images/content/img4.jpg" alt="")
										.product-item__vendor-code= "05-983"
										.product-item__title.c-limited-text1= "Бенриах Харт оф Спейсайд"
										.product-item__price
											|3609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													|3700 <i class="rubl">a</i>
													
										a.input-btn(href="" title="")= "В корзину"
							li
								.product-item
									.product-item__info
										.product-item__img
											img(src="images/content/img1.jpg" alt="")
										.product-item__vendor-code= "05-984"
										.product-item__title.c-limited-text1= "Название товара"
										.product-item__price
											|3609 <i class="rubl">a</i>
											.product-item__price-sale
												span
													|3700 <i class="rubl">a</i>
													
										a.input-btn(href="" title="")= "В корзину"
							
				.infoblock
					.infoblock__heading
						span.heading= "Новости"
					.infoblock__item
						a.absolute-link(href="" title="")
						.infoblock__img
							img(src="images/content/img2.jpg" alt="")
						.infoblock__description
							.infoblock__date= "16.10.2015"
							
							.infoblock__text= "Вкус Чили в отеле «Метрополь»"
					.infoblock__link		
						a.big-link(href="" title="")= "Показать все"
						
				.infoblock
					.infoblock__heading
						span.heading= "Статьи"
					.infoblock__item
						a.absolute-link(href="" title="")
						.infoblock__img
							img(src="images/content/img3.jpg" alt="")
						.infoblock__description.infoblock__description--white
							.infoblock__date= "16.10.2015"							
							.infoblock__text= "Wild Turkey: легендарный бурбон из Кентукки"
					.infoblock__link		
						a.big-link(href="" title="")= "Показать все"		
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade