- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Главная"
						span.breadcrumbs__delimiter= "/"
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Личный кабинет"
						span.breadcrumbs__delimiter= "/"	
					li.breadcrumbs__item					
						|Заказы
				
				h1.heading-big
					|Личный кабинет
				
				.lk
					.lk__profile
						.clearfix
							a.input-btn.input-btn--lk.left(href="" title="")
								span.input-btn__arrow
									span.sprite.a13
									span.sprite.a13
								|Назад
							a.input-btn.input-btn--lk.right(href="" title="")= "Выход"
						
						h2.heading-lev2= "Заказы"
						
						.c-content-orders-wrap
							.tabs.c-tabs.tabs--wide
								.tabs__head.clearfix.c-fixed
									a.tabs__link.left.c-tabs-link.c-filter-catalog(href="" title="")
										span.filter-text= "Фильтр"
										span.filter-icon.right.sprite.a16
									.tabs__link.left.c-tabs-link(href="" title="")
										span.sort-text= "Сортировка"
										span.sort-icon.right.sprite.a17
								.tabs__content
									.tabs__item.filter.c-tabs-content
										form#filter-orders.form.form--reg(method="" action="ajax/orders.html")
											.form__element.clearfix
												label.form__label.form__label--block= "Дата"
												input.c-inputdate.form__input.form__input--small.left(type="" name="")
												input.c-inputdate.form__input.form__input--small.right(type="" name="")
												
											.form__element
												label.form__label.form__label--block= "Статус заказа"
												select.c-select
													option= "Все"
													option= "Принят"
													option= "Отменен"	
													option= "Завершен"
											
											.form__element
												label.form__label.form__label--block= "Сумма"
												.clearfix
													input#minPrice.filter__input.c-minPrice.left(type="text")
													hr.filter__input-del.left
													input#maxPrice.filter__input.c-maxPrice.right(type="text")
												#price-slider.range(data-min="0" data-max="1000" data-min-limit="0.00" data-max-limit="1000")												
												
											.form__element.form__element--center.form__element--btn.clearfix.c-fixed
												input.filter__btn.left(type="submit" value="Применить")
												input.filter__btn.filter__btn--grey.right(type="reset" value="Очистить")
											
									.tabs__item.c-tabs-content
										form.form.form--sort(method="" action="")
											label.form__label
												|Сортировать
											button.btn-sort.right.c-sort-btn(type="button")
											select.c-select
												option= "Номеру"
												option= "Сумме"													
							
							.order.order__wpap.c-hidden
								.order__item.open.c-order
									.order__infoblock.order__infoblock--top
										a.order__add-link.sprite.a46(href="" title="")
										.order__title= "ЗАКАЗ № 1 ОТ 22 Мая 2016"
										.order__description
											|4 товара на сумму 11 692 <i class="rubl">a</i>
										
									.order__infoblock.order__status
										|Статус: Принят, ожидается оплата
									.order__infoblock
										a.order__icon-open.active.c-order-link(href="" title="")
										span.order__price
											|3 609  <i class="rubl">a</i>
										span.order__count= "(3 товара)"
										.order__info
											input.input-btn(tupe="button" value="Отменить")
											.order__element
												.order__element-title
													|07-006
													br
													|Андре Галлуа Брют
												.order__element-count
													|1 шт
												.order__element-price
													|2 221 <i class="rubl">a</i>
													
											.order__element
												.order__element-title
													|07-006
													br
													|Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа БрютАндре Галлуа БрютАндре Галлуа Брют
												.order__element-count
													|100 шт
												.order__element-price
													|1 000 609 <i class="rubl">a</i>
													
											.order__element
												.order__element-title
													|07-006
													br
													|Андре Галлуа Брют
												.order__element-count
													|1 шт
												.order__element-price
													|2 221 <i class="rubl">a</i>
													
											.order__info-text
												|Способ оплаты: Наличные
												br
												|Способ доставки: Самовывоз
												
								.order__item.c-order
									.order__infoblock.order__infoblock--top
										a.order__add-link.sprite.a46(href="" title="")
										.order__title= "ЗАКАЗ № 2 ОТ 22 Мая 2016"
										.order__description
											|4 товара на сумму 11 692 <i class="rubl">a</i>
										
									.order__infoblock.order__status
										|Статус: Завершен
									.order__infoblock
										a.order__icon-open.c-order-link(href="" title="")
										span.order__price
											|3 609  <i class="rubl">a</i>
										span.order__count= "(3 товара)"
										.order__info
											//input.input-btn(tupe="button" value="Отменить")										
											.order__element
												.order__element-title
													|07-006
													br
													|Андре Галлуа Брют
												.order__element-count
													|1 шт
												.order__element-price
													|2 221 <i class="rubl">a</i>
													
											.order__info-text
												|Способ оплаты: Наличные
												br
												|Способ доставки: Самовывоз
												
													
								.order__item.c-order
									.order__infoblock.order__infoblock--top
										a.order__add-link.sprite.a46(href="" title="")
										.order__title= "ЗАКАЗ № 1 ОТ 22 Мая 2016"
										.order__description
											|4 товара на сумму 11 692 <i class="rubl">a</i>
										
									.order__infoblock.order__status
										|Статус: Отменен
									.order__infoblock
										a.order__icon-open.c-order-link(href="" title="")
										span.order__price
											|1 000 609  <i class="rubl">a</i>
										span.order__count= "(3 товара)"
										.order__info
											//input.input-btn(tupe="button" value="Отменить")
											.order__element
												.order__element-title
													|07-006
													br
													|Андре Галлуа Брют
												.order__element-count
													|1 шт
												.order__element-price
													|2 221 <i class="rubl">a</i>
													
											.order__element
												.order__element-title
													|07-006
													br
													|Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа Брют Андре Галлуа БрютАндре Галлуа БрютАндре Галлуа Брют
												.order__element-count
													|100 шт
												.order__element-price
													|1 000 609 <i class="rubl">a</i>												

											.order__info-text
												|Способ оплаты: Наличные
												br
												|Способ доставки: Самовывоз
							
						
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade