- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Главная"
						span.breadcrumbs__delimiter= "/"
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Личный кабинет"
						span.breadcrumbs__delimiter= "/"	
					li.breadcrumbs__item					
						|Профиль пользователя
				
				h1.heading-big
					|Личный кабинет
				
				.lk
					.lk__profile
						.clearfix
							a.input-btn.input-btn--lk.left(href="" title="")
								span.input-btn__arrow
									span.sprite.a13
									span.sprite.a13
								|Назад
							a.input-btn.input-btn--lk.right(href="" title="")= "Выход"
						
						form.form.form--reg(method="" action="")
							.form__heading.form__element
									|Профиль пользователя
									
							.form__element
								label.form__label.form__label--block= "Имя"
								input.form__input(type="text" data-validation="required")
								
							.form__element
								label.form__label.form__label--block= "Фамилия"
								input.form__input(type="text" data-validation="required")
								
							.form__element
								label.form__label.form__label--block= "Отчество"
								input.form__input(type="text" data-validation="required")
								
							.form__element
								label.form__label.form__label--block= "Email"
								input.form__input(type="email"  data-validation="email" placeholder="Используется для входа в систему")
								
							
								.check__wrap.check__wrap--small
									input#yes.check__input(type="checkbox" value="receive-notification" name="receive-notification")
									label.check__label.check__label--square(for="yes")= "Хочу получать уведомления о скидках"
									
							.form__element
								label.form__label.form__label--block= "Контактный тедефон"
								span.form__number= "+7"
								input.form__input.form__input--phone-part1(type="text" data-validation="length number required" data-validation-length="3")
								input.form__input.form__input--phone-part2(type="text" data-validation="length number required" data-validation-length="8")
							
							
								.check__wrap.check__wrap--small
									input#yes-sms.check__input(type="checkbox" value="sms" name="sms")
									label.check__label.check__label--square(for="yes-sms")= "SMS информирование о статусах заказа(бесплатно)"
							
							.form__element
								label.form__label.form__label--block= "Второй телефон"
								span.form__number= "+7"
								input.form__input.form__input--phone-part1(type="text" data-validation="length number required" data-validation-length="3")
								input.form__input.form__input--phone-part2(type="text" data-validation="length number required" data-validation-length="8")
								
							.form__element
								label.form__label.form__label--block= "Дата рождения"
								input.c-inputdate.form__input.form__input--date(type="" data-validation="required")
								
							.form__element
								label.form__label.form__label--block= "Дисконтная карта"
								input.form__input(type="number")
								
							.form__element.form__element--center.form__element--marg1
								input.input-btn.input-btn--reg(type="submit" value="Сохранить изменения")
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade