- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content
				ul.breadcrumbs
					li.breadcrumbs__item
						a.breadcrumbs__link(href="" title="")= "Главная"
						span.breadcrumbs__delimiter= "/"					
					li.breadcrumbs__item					
						|Личный кабинет
				
				h1.heading-big
					|Личный кабинет
				
				.lk
					a.input-btn.input-btn--lk(href="" title="")= "Выход"
					.lk__link-wrap
						a.lk__link(href="" title="")
							|Профиль пользователя
							span.sprite.a7.lk__link-icon.right
							
						a.lk__link(href="" title="")
							|Изменить пароль
							span.sprite.a7.lk__link-icon.right
						
						a.lk__link(href="" title="")
							|Адрес доставки
							span.sprite.a7.lk__link-icon.right
						
						a.lk__link(href="" title="")
							|Мои заказы
							span.lk__link-info= "+2"
							span.sprite.a7.lk__link-icon.right
						
						
				
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade