- var title= 'Alcodream'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content				
				h1.heading-big.heading-big--marg
					|Вход
				
				
				.tabs.tabs--simple.c-tabs
					.tabs__head.clearfix
						a.tabs__link.left.c-tabs-link.active(href="" title="")
							span= "Вход"
							
						a.tabs__link.right.c-tabs-link(href="" title="")
							span= "Регистрация"
							
					.tabs__content
						.tabs__item.c-tabs-content.active
							form.form(method="" action="")
								.form__element
									label.form__label.form__label--block= "Email"
									input.form__input(type="email"  data-validation="email")
									
								.form__element
									label.form__label.form__label--block= "Пароль"
									input.form__input(type="password" data-validation="required")
									
								.form__element
									a.blue-link(href="" title="")= "Забыли пароль"
								.form__element.form__element--botom
									input.input-btn.input-btn--login(type="submit" value="Войти")
									span.form__social= "или"
									a.sprite.a21.form__social(href="" title="")
									a.sprite.a22.form__social(href="" title="")
									a.sprite.a23.form__social(href="" title="")
									a.sprite.a24.form__social(href="" title="")
						.tabs__item.c-tabs-content
							form.form.form--reg(method="" action="")
								.form__element.form__text
									Регистрация на сайте дает ряд преимуществ: участие в накопительной дисконтной программе, быстрое оформление заказов за счет сохраненных данных и ведение истории заказов с возможностью их повторения
								
								.form__heading.form__element
									|Персональная информация
									.check__wrap
										input#age18.check__input(type="checkbox" value="age" name="age" checked data-validation="required")
										label.check__label.check__label--square(for="age18")= 'Мне больше 18 лет'
									
								.form__element
									label.form__label.form__label--block= "Email"
									input.form__input(type="email"  data-validation="email" placeholder="Используется для входа в систему" )
								
								.form__element
									label.form__label.form__label--block= "Пароль"
									input.form__input(type="password" data-validation="required")
									
								.form__element
									label.form__label.form__label--block= "Имя"
									input.form__input(type="text" data-validation="required")									
								.form__element
									label.form__label.form__label--block= "Фамилия"
									input.form__input(type="text" data-validation="required")
									
								.form__element
									label.form__label.form__label--block= "Отчество"
									input.form__input(type="text" data-validation="required")

								.form__element
									label.form__label.form__label--block= "Контактный тедефон"
									span.form__number= "+7"
									input.form__input.form__input--phone-part1(type="text" data-validation="length number required" data-validation-length="3")
									input.form__input.form__input--phone-part2(type="text" data-validation="length number required" data-validation-length="8")
									
									
								.form__element
									label.form__label.form__label--block= "Второй телефон"
									span.form__number= "+7"
									input.form__input.form__input--phone-part1(type="text" data-validation="length number required" data-validation-length="3")
									input.form__input.form__input--phone-part2(type="text" data-validation="length number required" data-validation-length="8")
									
								.form__element.form__element--center
									.check__wrap.check__wrap--small
										input#yes.check__input(type="checkbox" value="termsUse" name="termsUse" checked data-validation="required")
										label.check__label.check__label--square(for="yes")
											|Принимаю
											a.black-link(href="" title="")= "пользовательсоке соглашение"
									
								.form__element.form__element--center
									input.input-btn.input-btn--reg(type="submit" value="Зарегистрироваться")
									
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade