- var title= 'Список страниц'

doctype html
html(lang = "ru")
	head
		include /blocks/header-links.jade
	body
		<!-- BEGIN pagewrap -->
		.pagewrap
			include /blocks/header.jade
			
			<!-- BEGIN content -->
			.content
				ul(style="padding: 15px 25px;")
					li
						a(href="index.html" title="Главная")= 'Главная'
					li
						a(href="login.html" title="Вход")= 'Вход'
					li
						a(href="catalog.html" title="Каталог")= 'Каталог'
					li
						a(href="detail.html" title="Детальная страница")= 'Детальная страница'	
					li
						a(href="basket.html" title="Вход")= 'Корзина'
					li
						a(href="lk.html" title="Личный кабинет")= 'Личный кабинет'
					li
						a(href="lk-profile.html" title="Личный кабинет - профиль")= 'Личный кабинет - профиль'
					li
						a(href="lk-orders.html" title="Личный кабинет - заказы")= 'Личный кабинет - заказы'	
			<!-- END content -->
			
		<!-- END pagewrap -->	
		include /blocks/footer.jade